@if (showLoading) {
  <app-loader></app-loader>
}
<form [formGroup]="addCollectionForm">
  <mat-dialog-content class="mat-typography">
    <div class="content container-fluid">
      <!-- Page Header -->
      <div class="page-header">
        <div class="row align-items-center">
          <div class="col">
            <h3 class="page-title">{{PageTitle}}</h3>
            <ul class="breadcrumb">
              <li class="breadcrumb-item">
                <a routerLink="/Dashboard"> Dashboard</a>
              </li>
              <li class="breadcrumb-item active">{{PageTitle}}</li>
            </ul>
          </div>

        </div>
      </div>
      <!-- /Page Header -->

      <div class="tab-content">

        <!-- Add User -->
        <div class="pro-overview tab-pane fade show active">
          <div class="card">
            <div class="card-body">

              <div class="col-md-12 mandatory">*Fields are Mandatory</div>

              <div class="row">


                <div class="col-sm-3">
                  <div class="form-group">
                    <mat-form-field class="example-full-width">
                      <input matInput name="collectiondate" placeholder="Collection Date" type="text"
                        [matDatepicker]="picker1" [(ngModel)]="CollectionData.collectiondate"
                        formControlName="collectiondate" required>
                        @if (isSubmitted && formControls.collectiondate.errors) {
                          <div class="error-text">
                            @if (formControls.collectiondate.errors.required) {
                              <div>Collection Date is
                              required</div>
                            }
                          </div>
                        }
                        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                        <mat-datepicker #picker1></mat-datepicker>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="form-group">
                      <mat-form-field class="example-full-width"
                        [ngClass]="{ 'has-error': isSubmitted && formControls.invoiceid.errors }">
                        <mat-select [compareWith]="compareObjects" [(ngModel)]="CollectionData.invoiceid" name="invoiceid"
                          (ngModelChange)="getInvoice(CollectionData.invoiceid)"
                          placeholder="Invoice No" formControlName="invoiceid" required>
                          <mat-option>-Select-</mat-option>
                          @for (invoice of invoiceList; track invoice) {
                            <mat-option
                              [value]="invoice.selectionid">
                              {{ invoice.selectionvalue }}
                            </mat-option>
                          }
                        </mat-select>
                        @if (isSubmitted && formControls.invoiceid.errors) {
                          <div
                            class="error-text">
                            @if (formControls.invoiceid.errors.required) {
                              <div>Invoice
                              is required</div>
                            }
                          </div>
                        }
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="form-group">
                      <mat-form-field class="example-full-width"
                        [ngClass]="{ 'has-error': isSubmitted && formControls.invoiceValue.errors }">
                        <input matInput name="invoiceValue" type="text" placeholder="Invoice Pay Amount"
                          [(ngModel)]="invoiceValue"
                          (ngModelChange)="calculateCollection()" formControlName="invoiceValue"
                          required>
                          @if (isSubmitted && formControls.invoiceValue.errors) {
                            <div
                              class="error-text">
                              @if (formControls.invoiceValue.errors.required) {
                                <div>Invoice Pay Amount
                                is required</div>
                              }
                            </div>
                          }
                        </mat-form-field>
                      </div>
                    </div>
                    <div class="col-sm-3">
                      <div class="form-group">
                        <mat-form-field class="example-full-width"
                          [ngClass]="{ 'has-error': isSubmitted && formControls.tdsdeducted.errors }">
                          <input matInput name="tdsdeducted" type="text" placeholder="TDS deducted"
                            [(ngModel)]="CollectionData.tdsdeducted"
                            (ngModelChange)="calculateCollection()" formControlName="tdsdeducted"
                            required>
                            @if (isSubmitted && formControls.tdsdeducted.errors) {
                              <div
                                class="error-text">
                                @if (formControls.tdsdeducted.errors.required) {
                                  <div>TDS deducted
                                  is required</div>
                                }
                              </div>
                            }
                          </mat-form-field>
                        </div>
                      </div>
                      <div class="col-sm-3">
                        <div class="form-group">
                          <mat-form-field class="example-full-width"
                            [ngClass]="{ 'has-error': isSubmitted && formControls.gsttdsdeducted.errors }">
                            <input matInput name="gsttdsdeducted" type="text" placeholder="GST Deducted"
                              [(ngModel)]="CollectionData.gsttdsdeducted" formControlName="gsttdsdeducted"
                              (ngModelChange)="calculateCollection()"
                              required>
                              @if (isSubmitted && formControls.gsttdsdeducted.errors) {
                                <div
                                  class="error-text">
                                  @if (formControls.gsttdsdeducted.errors.required) {
                                    <div>GST Deducted
                                    is required</div>
                                  }
                                </div>
                              }
                            </mat-form-field>
                          </div>
                        </div>
                        <div class="col-sm-3">
                          <div class="form-group">
                            <mat-form-field class="example-full-width">
                              <input matInput name="otherdeducted" type="text" placeholder="Other deducted"
                                [(ngModel)]="CollectionData.otherdeducted"
                                (ngModelChange)="calculateCollection()"
                                formControlName="otherdeducted">

                              </mat-form-field>
                            </div>
                          </div>

                          <div class="col-sm-3">
                            <div class="form-group">
                              <mat-form-field class="example-full-width">
                                <mat-select [(ngModel)]="CollectionData.deductiondescription" name="deductiondescription"
                                  formControlName="deductiondescription" placeholder="Deduction Description">
                                  <mat-option value="Penalty">Penalty</mat-option>
                                  <mat-option value="Withheld">Withheld</mat-option>
                                  <mat-option value="Other Deduction">Other Deduction</mat-option>
                                </mat-select>

                              </mat-form-field>
                            </div>

                          </div>


                          <div class="col-sm-3">
                            <div class="form-group">
                              <mat-form-field class="example-full-width"
                                [ngClass]="{ 'has-error': isSubmitted && formControls.netamountcredieted.errors }">
                                <input matInput name="netamountcredieted" type="text" placeholder="Net Amount Credieted"
                                  [(ngModel)]="CollectionData.netamountcredieted" formControlName="netamountcredieted"
                                  readonly=true>
                                  @if (isSubmitted && formControls.netamountcredieted.errors) {
                                    <div
                                      class="error-text">
                                      @if (formControls.netamountcredieted.errors.required) {
                                        <div>Net Amount Credieted
                                        is required</div>
                                      }
                                    </div>
                                  }
                                </mat-form-field>
                              </div>
                            </div>
                            <div class="col-sm-3">
                              <div class="form-group">
                                <mat-form-field class="example-full-width"
                                  [ngClass]="{ 'has-error': isSubmitted && formControls.utrno.errors }">
                                  <input matInput name="utrno" type="text" placeholder="UTR No"
                                    [(ngModel)]="CollectionData.utrno" formControlName="utrno"
                                    required>
                                    @if (isSubmitted && formControls.utrno.errors) {
                                      <div
                                        class="error-text">
                                        @if (formControls.utrno.errors.required) {
                                          <div>UTR No
                                          is required</div>
                                        }
                                      </div>
                                    }
                                  </mat-form-field>
                                </div>
                              </div>
                              <div class="col-sm-4">
                                <div class="form-group">
                                  <app-fileupload [files] = "uploadpaymentadvice" maxSize="2048" labelname="Upload payment advice" modulename="collection"></app-fileupload>
                                </div>
                              </div>

                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                </mat-dialog-content>
                <div class="clearfix"></div>
                <mat-dialog-actions>
                  <div class="submit-section">
                    @if (add) {
                      <button mat-flat-button color="accent" (click)="addCollection('save')">
                        <mat-icon aria-hidden="false">save</mat-icon> Save
                      </button>
                    }

                    @if (edit) {
                      <button mat-flat-button color="accent" (click)="addCollection('update')">
                        <mat-icon aria-hidden="false">update</mat-icon> Update
                      </button>
                    }
                    <button mat-flat-button color="warn" (click)="back()">
                      <mat-icon aria-hidden="false">cancel</mat-icon> Back</button>

                    </div>
                  </mat-dialog-actions>

                </form>