@if (showLoading) {
  <app-loader></app-loader>
}
<form [formGroup]="addVehicleMasterForm">
  <div class="main-wrapper">
    <app-header> </app-header>
    <app-leftmenu></app-leftmenu>
    <div class="page-wrapper">
      <div class="content container-fluid">
        <!-- Page Header -->
        <div class="page-header">
          <div class="row align-items-center">
            <div class="col">
              <h3 class="page-title">{{PageTitle}}</h3>
              <ul class="breadcrumb">
                <li class="breadcrumb-item">
                  <a routerLink="/Dashboard"> Dashboard</a>
                </li>
                <li class="breadcrumb-item active">{{PageTitle}}</li>
              </ul>
            </div>

          </div>
        </div>
        <!-- /Page Header -->

        <div class="tab-content">

          <!-- Add User -->
          <div class="pro-overview tab-pane fade show active">
            <div class="card">
              <div class="card-body">

                <div class="col-md-12 mandatory">*Fields are Mandatory</div>

                <div class="row">
                  <div class="col-md-12">
                    <strong>Basic Vehicle Details</strong>
                  </div>

                  <div class="col-sm-3">
                    <div class="form-group">
                      <mat-form-field>
                        <mat-label>Vehicle Type</mat-label>
                        <mat-select [(ngModel)]="VehicleData.vehicleType" formControlName="vehicleType" name="vehicleType" required>
                          <mat-option>-Select-</mat-option>
                          <mat-option value="Pay-Loader">Pay-Loader</mat-option>
                          <mat-option value="Crane">Crane</mat-option>
                          <mat-option value="Pick-Up">Pick-Up</mat-option>
                          <mat-option value="Any Other">Any Other</mat-option>

                        </mat-select>
                        @if (isSubmitted && formControls.vehicleType.errors) {
                          <div class="error-text">
                            @if (formControls.vehicleType.errors.required) {
                              <div>Vehicle Type is required
                              </div>
                            }
                          </div>
                        }
                      </mat-form-field>
                    </div>
                  </div>


                  <div class="col-sm-3">
                    <div class="form-group">
                      <mat-form-field class="example-full-width" [ngClass]="{ 'has-error': isSubmitted && formControls.vehicleName.errors }">
                        <input matInput name="vehicleName" type="text" placeholder="Vehicle Name" [(ngModel)]="VehicleData.vehicleName" formControlName="vehicleName"
                          maxlength="60" required>
                          @if (isSubmitted && formControls.vehicleName.errors) {
                            <div class="error-text">
                              @if (formControls.vehicleName.errors.required) {
                                <div>Vehicle Type is required
                                </div>
                              }
                            </div>
                          }
                        </mat-form-field>
                      </div>
                    </div>



                    <div class="col-sm-3">
                      <div class="form-group">
                        <mat-form-field [ngClass]="{ 'has-error': isSubmitted && formControls.errors }">
                          <mat-label>Vehicle Make</mat-label>
                          <mat-select [(ngModel)]="VehicleData.vehicleMake"
                            [typeaheadDebounceInterval]="matSelectDuration" formControlName="vehicleMake" name="vehicleMake" required>
                            <mat-option>-Select-</mat-option>
                            @for (vehicleMakeData of manufactureList; track vehicleMakeData) {
                              <mat-option value="{{vehicleMakeData.selectionid}}">
                              {{vehicleMakeData.selectionvalue}}</mat-option>
                            }
                          </mat-select>
                          @if (isSubmitted && formControls.vehicleMake.errors) {
                            <div class="error-text">
                              @if (formControls.vehicleMake.errors.required) {
                                <div>Vehicle Make is required
                                </div>
                              }
                            </div>
                          }
                        </mat-form-field>
                      </div>
                    </div>

                    <div class="col-sm-3">
                      <div class="form-group">
                        <mat-form-field class="example-full-width"
                          [ngClass]="{ 'has-error': isSubmitted && formControls.vendorName.errors }">
                          <input matInput name="vendorName" name="vendorName" type="text"
                            placeholder="Vendor Name"
                            [(ngModel)]="VehicleData.vendorName"
                            formControlName="vendorName" maxlength="60" required>
                            @if (isSubmitted && formControls.vendorName.errors) {
                              <div class="error-text">
                                @if (formControls.vendorName.errors.required) {
                                  <div>Vendor Name is required
                                  </div>
                                }
                              </div>
                            }
                          </mat-form-field>
                        </div>
                      </div>


                      <!-- <div class="col-sm-3">
                      <div class="form-group">
                        <mat-form-field>
                          <mat-label>Vehicle Insurance</mat-label>
                          <mat-select [(ngModel)]="VehicleData.vendorName" formControlName="vendorName" name="vendorName" required>
                            <mat-option>-Select-</mat-option>
                            <mat-option value="AurionPro">AurionPro</mat-option>
                            <mat-option value="IBM">IBM</mat-option>


                          </mat-select>
                          <div *ngIf="isSubmitted && formControls.vendorName.errors" class="error-text">
                            <div *ngIf="formControls.vendorName.errors.required">Vehicle Insurance required
                            </div>
                          </div>
                        </mat-form-field>
                      </div>
                    </div> -->







                    <div class="col-sm-3">
                      <div class="form-group">
                        <mat-form-field [ngClass]="{ 'has-error': isSubmitted && formControls.errors }">
                          <mat-label>Vehicle Category</mat-label>
                          <mat-select [(ngModel)]="VehicleData.vehicleCateory"
                            [typeaheadDebounceInterval]="matSelectDuration" formControlName="vehicleCateory" name="vehicleCateory" required>
                            <mat-option>-Select-</mat-option>
                            @for (categoryData of categoryList; track categoryData) {
                              <mat-option value="{{categoryData.selectionid}}">
                              {{categoryData.selectionvalue}}</mat-option>
                            }
                          </mat-select>
                          @if (isSubmitted && formControls.vehicleCateory.errors) {
                            <div
                              class="error-text">
                              @if (formControls.vehicleCateory.errors.required) {
                                <div>Vehicle Category is
                                required</div>
                              }
                            </div>
                          }
                        </mat-form-field>
                      </div>
                    </div>


                    <div class="col-sm-3">
                      <div class="form-group">
                        <mat-form-field class="example-full-width" [ngClass]="{ 'has-error': isSubmitted && formControls.vehicleRegNumber.errors }">
                          <input matInput name="vehicleRegNumber" type="text" placeholder="Vehicle Reg Number" [(ngModel)]="VehicleData.vehicleRegNumber"
                            formControlName="vehicleRegNumber" name="vehicleRegNumber" maxlength="60"
                            required>
                            @if (isSubmitted && formControls.vehicleRegNumber.errors) {
                              <div class="error-text">
                                @if (formControls.vehicleRegNumber.errors.required) {
                                  <div>Vehicle Register Number is required
                                  </div>
                                }
                              </div>
                            }
                          </mat-form-field>
                        </div>
                      </div>


                      <div class="col-sm-3">
                        <div class="form-group">
                          <mat-form-field class="example-full-width">
                            <input matInput name="vehiclepurchaseDate" placeholder="Vehicle Purchase Date " type="text" [matDatepicker]="picker1" [(ngModel)]="VehicleData.vehiclepurchaseDate"
                              formControlName="vehiclepurchaseDate" name="vehiclepurchaseDate" required>
                              @if (isSubmitted && formControls.vehiclepurchaseDate.errors) {
                                <div class="error-text">
                                  @if (formControls.vehiclepurchaseDate.errors.required) {
                                    <div>Vehicle Purchase Date required
                                    </div>
                                  }
                                </div>
                              }
                              <mat-datepicker-toggle matSuffix [for]="picker1">
                              </mat-datepicker-toggle>
                              <mat-datepicker #picker1></mat-datepicker>
                            </mat-form-field>
                          </div>
                        </div>

                        <div class="col-sm-3">
                          <div class="form-group">
                            <mat-form-field class="example-full-width">
                              <input matInput name="deliveryDate" placeholder="Vehicle Delivery Date " type="text" [matDatepicker]="picker2" [(ngModel)]="VehicleData.deliveryDate"
                                formControlName="deliveryDate" name="deliveryDate" required>
                                @if (isSubmitted && formControls.deliveryDate.errors) {
                                  <div class="error-text">
                                    @if (formControls.deliveryDate.errors.required) {
                                      <div>Vehicle delivery Date required
                                      </div>
                                    }
                                  </div>
                                }
                                <mat-datepicker-toggle matSuffix [for]="picker2">
                                </mat-datepicker-toggle>
                                <mat-datepicker #picker2></mat-datepicker>
                              </mat-form-field>
                            </div>
                          </div>



                          <div class="col-sm-3">
                            <div class="form-group">
                              <mat-form-field [ngClass]="{ 'has-error': isSubmitted && formControls.projectName.errors }">
                                <mat-label>Project Name</mat-label>
                                <mat-select [(ngModel)]="VehicleData.projectName"
                                  [typeaheadDebounceInterval]="matSelectDuration" formControlName="projectName" name="projectName">
                                  <mat-option>-Select-</mat-option>
                                  @for (projectData of projectList; track projectData) {
                                    <mat-option value="{{projectData.selectionid}}" matTooltip="{{projectData.selectionvalue}}">
                                    {{projectData.selectionvalue}}</mat-option>
                                  }
                                </mat-select>
                                @if (isSubmitted && formControls.projectName.errors) {
                                  <div class="error-text">
                                    @if (formControls.projectName.errors.required) {
                                      <div>Project is required
                                      </div>
                                    }
                                  </div>
                                }
                              </mat-form-field>
                            </div>
                          </div>



                        </div>

                        <hr>
                          <div class="row">
                            <div class="col-md-12">
                              <strong>Insurance Details</strong>
                            </div>

                            <div class="col-sm-3">
                              <div class="form-group">
                                <mat-form-field>
                                  <mat-label>Vehicle Insurance</mat-label>
                                  <mat-select [(ngModel)]="VehicleData.vehicleInsurance" formControlName="vehicleInsurance" name="vehicleInsurance" required>
                                    <mat-option>-Select-</mat-option>
                                    <mat-option value="YES">YES</mat-option>
                                    <mat-option value="NO">NO</mat-option>


                                  </mat-select>
                                  @if (isSubmitted && formControls.vehicleInsurance.errors) {
                                    <div class="error-text">
                                      @if (formControls.vehicleInsurance.errors.required) {
                                        <div>Vehicle Insurance required
                                        </div>
                                      }
                                    </div>
                                  }
                                </mat-form-field>
                              </div>
                            </div>




                          </div>


                          <hr>
                            <div class="row">
                              <div class="col-md-12">
                                <strong>Other Details</strong>
                              </div>

                              <div class="col-sm-3">
                                <div class="form-group">
                                  <mat-form-field>
                                    <mat-label>Pollution Clearance Details</mat-label>
                                    <mat-select [(ngModel)]="VehicleData.pollutionClearanceDone" formControlName="pollutionClearanceDone" name="pollutionClearanceDone"
                                      required>
                                      <mat-option>-Select-</mat-option>
                                      <mat-option value="YES">YES</mat-option>
                                      <mat-option value="NO">NO</mat-option>


                                    </mat-select>
                                    @if (isSubmitted && formControls.pollutionClearanceDone.errors) {
                                      <div class="error-text">
                                        @if (formControls.pollutionClearanceDone.errors.required) {
                                          <div>Vehicle Insurance required
                                          </div>
                                        }
                                      </div>
                                    }
                                  </mat-form-field>
                                </div>
                              </div>

                              <div class="col-sm-3">
                                <div class="form-group">
                                  <mat-form-field [ngClass]="{ 'has-error': isSubmitted && formControls.state.errors }">
                                    <mat-label>State</mat-label>
                                    <mat-select [(ngModel)]="VehicleData.state"
                                      [typeaheadDebounceInterval]="matSelectDuration" formControlName="state" name="state" (selectionChange)="getAllDistrictByState(VehicleData.state)" required>
                                      <mat-option>-Select-</mat-option>
                                      @for (stateData of stateList; track stateData) {
                                        <mat-option value="{{stateData.selectionid}}">
                                        {{stateData.selectionvalue}}</mat-option>
                                      }
                                    </mat-select>
                                    @if (isSubmitted && formControls.state.errors) {
                                      <div class="error-text">
                                        @if (formControls.state.errors.required) {
                                          <div>State is required
                                          </div>
                                        }
                                      </div>
                                    }
                                  </mat-form-field>
                                </div>
                              </div>



                              <div class="col-sm-3">
                                <div class="form-group">
                                  <mat-form-field [ngClass]="{ 'has-error': isSubmitted && formControls.district.errors }">
                                    <mat-label>District</mat-label>
                                    <mat-select [(ngModel)]="VehicleData.district"
                                      [typeaheadDebounceInterval]="matSelectDuration" formControlName="district" (selectionChange)="getActiveLocationsFromDistrict(VehicleData.district)" required>
                                      <mat-option>-Select-</mat-option>
                                      @for (districtData of districtList; track districtData) {
                                        <mat-option value="{{districtData.selectionid}}">
                                        {{districtData.selectionvalue}}</mat-option>
                                      }
                                    </mat-select>
                                    @if (isSubmitted && formControls.district.errors) {
                                      <div class="error-text">
                                        @if (formControls.district.errors.required) {
                                          <div>District is required
                                          </div>
                                        }
                                      </div>
                                    }
                                  </mat-form-field>
                                </div>
                              </div>







                              <div class="col-sm-3">
                                <div class="form-group">
                                  <mat-form-field [ngClass]="{ 'has-error': isSubmitted && formControls.errors }">
                                    <mat-label>USID</mat-label>
                                    <mat-select [(ngModel)]="VehicleData.usid"
                                      [typeaheadDebounceInterval]="matSelectDuration" formControlName="usid" name="usid" required>
                                      <mat-option>-Select-</mat-option>
                                      @for (locationData of locationList; track locationData) {
                                        <mat-option value="{{locationData.selectionid}}">
                                        {{locationData.selectionvalue}}</mat-option>
                                      }
                                    </mat-select>
                                    @if (isSubmitted && formControls.usid.errors) {
                                      <div class="error-text">
                                        @if (formControls.usid.errors.required) {
                                          <div>Location is required
                                          </div>
                                        }
                                      </div>
                                    }
                                  </mat-form-field>
                                </div>
                              </div>






                              <div class="col-sm-3">
                                <div class="form-group">
                                  <mat-form-field class="example-full-width">
                                    <input matInput name="remarks" type="text" placeholder="Remark" [(ngModel)]="VehicleData.remarks" formControlName="remarks"
                                      maxlength="60">

                                    </mat-form-field>
                                  </div>
                                </div>
                              </div>
                              <hr>
                                <div class="row">
                                  <div class="col-md-12">
                                    <strong>Upload Documents/Ceritficates</strong>
                                  </div>
                                  <div class="col-sm-6">

                                    <div class="col-sm-12">
                                      <app-fileupload [files]="vehRegFiles" maxSize="2048" labelname="Vehicle Registration Certificate" modulename="vehicleReg"></app-fileupload>
                                    </div>
                                  </div>


                                  <div class="col-sm-6">

                                    <div class="col-sm-12">
                                      <app-fileupload [files]="vehInsFiles" maxSize="2048" labelname="Vehicle Insurance Certificate" modulename="vehicleIns"></app-fileupload>
                                    </div>
                                  </div>

                                  <div class="col-sm-6">

                                    <div class="col-sm-12">
                                      <app-fileupload [files]="vehPollFiles" maxSize="2048" labelname="Pollution Clearance Certificate" modulename="vehiclePoll"></app-fileupload>
                                    </div>
                                  </div>

                                  <div class="col-sm-6">

                                    <div class="col-sm-12">
                                      <app-fileupload [files]="vehOtherFiles" maxSize="2048" labelname="Any other Documents" modulename="vehicleOthDoc"></app-fileupload>
                                    </div>
                                  </div>



                                  <div class="col-sm-6">

                                    <div class="col-sm-12">
                                      <app-fileupload [files]="vehLetterFiles" maxSize="2048" labelname="Letter of Intent" modulename="vehicleLetter"></app-fileupload>
                                    </div>
                                  </div>


                                  <div class="col-sm-6">

                                    <div class="col-sm-12">
                                      <app-fileupload [files]="vehInvoiceFiles" maxSize="2048" labelname="Vehicle Invoice" modulename="vehicleInvoice"></app-fileupload>
                                    </div>
                                  </div>


                                  <div class="col-sm-6">

                                    <div class="col-sm-12">
                                      <app-fileupload [files]="vehReleaseFiles" maxSize="2048" labelname="Vehicle Release Document" modulename="vehicleRelease"></app-fileupload>
                                    </div>
                                  </div>
                                </div>







                                <div class="submit-section">


                                  @if (!edit) {
                                    <button mat-flat-button color="accent" (click)="addVehicle('save')">
                                      <mat-icon aria-hidden="false">save</mat-icon> Save</button>
                                    }


                                    <button mat-flat-button color="warn" (click)="back()">
                                      <mat-icon aria-hidden="false">cancel</mat-icon> Back</button>

                                      @if (edit) {
                                        <button mat-flat-button color="accent" (click)="addVehicle('update')">
                                          <mat-icon aria-hidden="false">update</mat-icon> Update</button>
                                        }
                                      </div>

                                    </div>


                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>

                      </form>