@if (showLoading) {
  <app-loader></app-loader>
}
<form [formGroup]="addProjectForm">
  <div class="main-wrapper">
    <app-header> </app-header>
    <app-leftmenu></app-leftmenu>
    <div class="page-wrapper">
      <div class="content container-fluid">
        <!-- Page Header -->
        <div class="page-header">
          <div class="row align-items-center">
            <div class="col">
              <h3 class="page-title">{{PageTitle}}</h3>
              <ul class="breadcrumb">
                <li class="breadcrumb-item">
                  <a routerLink="/Dashboard"> Dashboard</a>
                </li>
                <li class="breadcrumb-item active">{{PageTitle}}</li>
              </ul>
            </div>

          </div>
        </div>
        <!-- /Page Header -->


        <div class="tab-content">

          <!-- Add User -->
          <div class="pro-overview tab-pane fade show active">
            <div class="card">
              <div class="card-body">
                <h2>
                  Project Details
                </h2>
                <div class="col-md-12 mandatory">*Fields are Mandatory</div>

                <div class="row">
                  <div class="col-sm-3">
                    <div class="form-group">
                      <mat-form-field class="custom-field">
                        <input matInput name="projectPin" type="text" placeholder="Project Pin"
                          [(ngModel)]="ProjectData.projectPin" formControlName="projectPin"
                          maxlength="60" readonly=true>

                        </mat-form-field>
                      </div>
                    </div>
                    <div class="col-sm-3">
                      <div class="form-group">
                        <mat-form-field class="custom-field"
                          [ngClass]="{ 'has-error': isSubmitted && formControls.projectType.errors }">
                          <mat-select [(ngModel)]="ProjectData.projectType" name="projectType"
                            placeholder="Project Type" formControlName="projectType" required>
                            <mat-option>-Select-</mat-option>
                            @for (type of projectTypeList; track type) {
                              <mat-option
                                [value]="type.selectionvalue">
                                {{ type.selectionvalue }}
                              </mat-option>
                            }
                          </mat-select>
                          @if (isSubmitted && formControls.projectType.errors) {
                            <div
                              class="error-text">
                              @if (formControls.projectType.errors.required) {
                                <div>
                                  Project Type
                                is required</div>
                              }
                            </div>
                          }
                        </mat-form-field>
                      </div>
                    </div>
                    <div class="col-sm-3">
                      <div class="form-group">
                        <mat-form-field class="custom-field"
                          [ngClass]="{ 'has-error': isSubmitted && formControls.projectName.errors }">
                          <input matInput name="projectName" type="text"
                            placeholder="Project Name" [(ngModel)]="ProjectData.projectName"
                            formControlName="projectName" maxlength="60" required>
                            @if (isSubmitted && formControls.projectName.errors) {
                              <div
                                class="error-text">
                                @if (formControls.projectName.errors.required) {
                                  <div>
                                    Project
                                  Name is required</div>
                                }
                              </div>
                            }
                          </mat-form-field>
                        </div>
                      </div>

                      <div class="col-sm-3">
                        <div class="form-group">
                          <mat-form-field class="custom-field"
                            [ngClass]="{ 'has-error': isSubmitted && formControls.clientName.errors }">
                            <input matInput name="clientName" type="text" placeholder="Client Name"
                              [(ngModel)]="ProjectData.clientName" formControlName="clientName"
                              maxlength="60" required>
                              @if (isSubmitted && formControls.clientName.errors) {
                                <div
                                  class="error-text">
                                  @if (formControls.clientName.errors.required) {
                                    <div>Client
                                      Name
                                    is required</div>
                                  }
                                </div>
                              }
                            </mat-form-field>
                          </div>
                        </div>
                        <div class="col-sm-3">
                          <div class="form-group">
                            <mat-form-field class="custom-field"
                              [ngClass]="{ 'has-error': isSubmitted && formControls.organization.errors }">
                              <mat-select [compareWith]="compareObjects"
                                [(ngModel)]="ProjectData.organization" name="organization"
                                placeholder="Organization" formControlName="organization" required>
                                <mat-option>-Select-</mat-option>
                                @for (org of organizationsList; track org) {
                                  <mat-option
                                    [value]="org.selectionid">
                                    {{ org.selectionvalue }}
                                  </mat-option>
                                }
                              </mat-select>
                              @if (isSubmitted && formControls.organization.errors) {
                                <div
                                  class="error-text">
                                  @if (formControls.organization.errors.required) {
                                    <div>
                                      Organization
                                    is required</div>
                                  }
                                </div>
                              }
                            </mat-form-field>
                          </div>
                        </div>
                        <div class="col-sm-3">
                          <div class="form-group">
                            <mat-form-field class="custom-field"
                              [ngClass]="{ 'has-error': isSubmitted && formControls.departmentName.errors }">
                              <mat-select [compareWith]="compareObjects"
                                [(ngModel)]="ProjectData.departmentName" name="departmentName"
                                placeholder="Department Name" formControlName="departmentName"
                                required>
                                <mat-option>-Select-</mat-option>
                                @for (dept of departmentList; track dept) {
                                  <mat-option
                                    [value]="dept.selectionvalue">
                                    {{ dept.selectionvalue }}
                                  </mat-option>
                                }
                              </mat-select>
                              @if (isSubmitted && formControls.departmentName.errors) {
                                <div
                                  class="error-text">
                                  @if (formControls.departmentName.errors.required) {
                                    <div>
                                      Department
                                    is required</div>
                                  }
                                </div>
                              }
                            </mat-form-field>
                          </div>
                        </div>
                        <div class="col-sm-3">
                          <div class="form-group">
                            <mat-form-field class="custom-field"
                              [ngClass]="{ 'has-error': isSubmitted && formControls.projectManager.errors }">
                              <mat-select [compareWith]="compareUser"
                                [(ngModel)]="ProjectData.projectManager" name="projectManager"
                                placeholder="Project Manager Name" formControlName="projectManager"
                                required>
                                <mat-option>-Select-</mat-option>
                                @for (user of userList; track user) {
                                  <mat-option
                                    [value]="user.selectionid">
                                    {{ user.selectionvalue }}
                                  </mat-option>
                                }
                              </mat-select>
                              @if (isSubmitted && formControls.projectManager.errors) {
                                <div
                                  class="error-text">
                                  @if (formControls.projectManager.errors.required) {
                                    <div>
                                      Project Manager
                                    is required</div>
                                  }
                                </div>
                              }
                            </mat-form-field>
                          </div>
                        </div>
                        <div class="col-sm-3">
                          <div class="form-group">
                            <mat-form-field class="custom-field"
                              [ngClass]="{ 'has-error': isSubmitted && formControls.accountManager.errors }">
                              <mat-select [compareWith]="compareUser"
                                [(ngModel)]="ProjectData.accountManager" name="accountManager"
                                placeholder="Account Manager Name" formControlName="accountManager"
                                required>
                                <mat-option>-Select-</mat-option>
                                @for (user of userList; track user) {
                                  <mat-option
                                    [value]="user.selectionid">
                                    {{ user.selectionvalue }}
                                  </mat-option>
                                }
                              </mat-select>
                              @if (isSubmitted && formControls.accountManager.errors) {
                                <div
                                  class="error-text">
                                  @if (formControls.accountManager.errors.required) {
                                    <div>
                                      Account Manager
                                    is required</div>
                                  }
                                </div>
                              }
                            </mat-form-field>
                          </div>
                        </div>

                        <div class="col-sm-3">
                          <div class="form-group">
                            <mat-form-field class="custom-field"
                              [ngClass]="{ 'has-error': isSubmitted && formControls.practiceName.errors }">
                              <input matInput name="practiceName" type="text"
                                placeholder="Practice Name" [(ngModel)]="ProjectData.practiceName"
                                formControlName="practiceName" required>
                                @if (isSubmitted && formControls.practiceName.errors) {
                                  <div
                                    class="error-text">
                                    @if (formControls.practiceName.errors.required) {
                                      <div>
                                        Practice Name
                                      is required</div>
                                    }
                                  </div>
                                }
                              </mat-form-field>
                            </div>
                          </div>

                          <div class="col-sm-3">
                            <div class="form-group">
                              <mat-form-field class="custom-field"
                                [ngClass]="{ 'has-error': isSubmitted && formControls.projectLocation.errors }">
                                <input matInput name="projectLocation" type="text"
                                  placeholder="Project Location"
                                  [(ngModel)]="ProjectData.projectLocation"
                                  formControlName="projectLocation" maxlength="60" required>
                                  @if (isSubmitted && formControls.projectLocation.errors) {
                                    <div
                                      class="error-text">
                                      @if (formControls.projectLocation.errors.required) {
                                        <div>
                                          Project Location
                                        is required</div>
                                      }
                                    </div>
                                  }
                                </mat-form-field>
                              </div>
                            </div>
                            <div class="col-sm-3">
                              <div class="form-group">
                                <mat-form-field class="custom-field">
                                  <input matInput name="projectStartDate" placeholder="Project Start Date"
                                    type="text" [matDatepicker]="picker"
                                    [(ngModel)]="ProjectData.projectStartDate"
                                    formControlName="projectStartDate" required>
                                    @if (isSubmitted && formControls.projectStartDate.errors) {
                                      <div
                                        class="error-text">
                                        @if (formControls.projectStartDate.errors.required) {
                                          <div>
                                            Project Start Date is
                                          required</div>
                                        }
                                      </div>
                                    }
                                    <mat-datepicker-toggle matSuffix [for]="picker">
                                    </mat-datepicker-toggle>
                                    <mat-datepicker #picker></mat-datepicker>
                                  </mat-form-field>
                                </div>
                              </div>

                              <div class="col-sm-3">
                                <div class="form-group">
                                  <mat-form-field class="custom-field">
                                    <input matInput name="projectStopDate" placeholder="Project Stop Date"
                                      type="text" [matDatepicker]="picker1"
                                      [(ngModel)]="ProjectData.projectStopDate"
                                      formControlName="projectStopDate" required>
                                      @if (isSubmitted && formControls.projectStopDate.errors) {
                                        <div
                                          class="error-text">
                                          @if (formControls.projectStopDate.errors.required) {
                                            <div>
                                              Project Stop Date is
                                            required</div>
                                          }
                                        </div>
                                      }
                                      <mat-datepicker-toggle matSuffix [for]="picker1">
                                      </mat-datepicker-toggle>
                                      <mat-datepicker #picker1></mat-datepicker>
                                    </mat-form-field>
                                  </div>
                                </div>

                                <div class="col-sm-3">
                                  <div class="form-group">
                                    <mat-form-field class="custom-field">
                                      <mat-select [(ngModel)]="ProjectData.projectStatus" name="projectStatus"
                                        placeholder="Project Status" formControlName="projectStatus">
                                        <mat-option>-Select-</mat-option>
                                        @for (projectStatus of statusList; track projectStatus) {
                                          <mat-option
                                            [value]="projectStatus.selectionvalue">
                                            {{ projectStatus.selectionvalue }}
                                          </mat-option>
                                        }
                                      </mat-select>
                                    </mat-form-field>
                                  </div>
                                </div>
                                <div class="col-sm-3">
                                  <div class="form-group">
                                    <mat-form-field>
                                      <textarea matInput name="remark" maxlength="500"
                                        [(ngModel)]="ProjectData.remark" formControlName="remark"
                                      placeholder="Enter Remark"></textarea>
                                    </mat-form-field>
                                  </div>

                                </div>

                                <div class="col-sm-3">
                                  <div class="form-group">
                                    @if (ProjectData.projectPlan) {
                                      <a href="{{url}}{{ProjectData.planAttachment}}" target="_blank"
                                      >View Attachment </a>
                                    }
                                    <mat-checkbox class="block" formControlName="projectPlan"
                                      [(ngModel)]="ProjectData.projectPlan">Project Plan
                                    </mat-checkbox>

                                  </div>
                                </div>
                                <div class="col-sm-3">
                                  <div class="form-group">
                                    @if (ProjectData.poAttached) {
                                      <a href="{{url}}{{ProjectData.poAttachment}}" target="_blank">View Attachment
                                      </a>
                                    }
                                    <mat-checkbox class="block" formControlName="poAttached"
                                      [(ngModel)]="ProjectData.poAttached">PO Attached
                                    </mat-checkbox>

                                  </div>
                                </div>

                                <div class="col-sm-3">
                                  <div class="form-group">
                                    <mat-form-field class="custom-field"
                                      [ngClass]="{ 'has-error': isSubmitted && formControls.percentagePaymentReceived.errors }">
                                      <input matInput name="percentagePaymentReceived" type="text"
                                        placeholder="Percentage Payment Received"
                                        [(ngModel)]="ProjectData.percentagePaymentReceived"
                                        formControlName="percentagePaymentReceived" required>
                                        @if (isSubmitted && formControls.percentagePaymentReceived.errors) {
                                          <div
                                            class="error-text">
                                            @if (formControls.percentagePaymentReceived.errors.required) {
                                              <div>
                                                Percentage Payment Received
                                              is required</div>
                                            }
                                          </div>
                                        }
                                      </mat-form-field>
                                    </div>
                                  </div>
                                  <div class="col-sm-3">
                                    <div class="form-group">
                                      <mat-form-field class="custom-field"
                                        [ngClass]="{ 'has-error': isSubmitted && formControls.percentageCompleted.errors }">
                                        <input matInput name="percentageCompleted" type="text"
                                          placeholder="Percentage Completed"
                                          [(ngModel)]="ProjectData.percentageCompleted"
                                          formControlName="percentageCompleted" required>
                                          @if (isSubmitted && formControls.percentageCompleted.errors) {
                                            <div
                                              class="error-text">
                                              @if (formControls.percentageCompleted.errors.required) {
                                                <div>
                                                  Percentage Completed
                                                is required</div>
                                              }
                                            </div>
                                          }
                                        </mat-form-field>
                                      </div>
                                    </div>
                                    <div class="col-sm-3">
                                      <div class="form-group">
                                        <mat-form-field class="custom-field">
                                          <input matInput name="budget" type="text" placeholder="Budget"
                                            [(ngModel)]="ProjectData.budget" formControlName="budget">
                                          </mat-form-field>
                                        </div>
                                      </div>
                                      <div class="col-sm-3">
                                        <div class="form-group">
                                          <mat-form-field class="custom-field"
                                            [ngClass]="{ 'has-error': isSubmitted && formControls.completionStatus.errors }">
                                            <mat-select [(ngModel)]="ProjectData.completionStatus"
                                              name="completionStatus" placeholder="Completion Status"
                                              formControlName="completionStatus" required>
                                              <mat-option>-Select-</mat-option>
                                              @for (status of completionStatusList; track status) {
                                                <mat-option
                                                  [value]="status.name">
                                                  {{ status.name }}
                                                </mat-option>
                                              }
                                            </mat-select>
                                            @if (isSubmitted && formControls.departmentName.errors) {
                                              <div
                                                class="error-text">
                                                @if (formControls.departmentName.errors.required) {
                                                  <div>
                                                    Department
                                                  is required</div>
                                                }
                                              </div>
                                            }
                                          </mat-form-field>
                                        </div>
                                      </div>

                                    </div>

                                    @if (levelList.length>0) {
                                      <h2>
                                        Project Configuration
                                      </h2>
                                    }
                                    <br>
                                      <div class="row">

                                        <ng-container>
                                          @for (item of levelList; track item; let i = $index) {
                                            <div class="col-sm-3">
                                              <div class="form-group">
                                                <mat-form-field class="custom-field">
                                                  <mat-label>{{item.workflowlevel}}</mat-label>
                                                  <mat-select [compareWith]="compareUser" [(ngModel)]="item.userid"
                                                    [ngModelOptions]="{standalone: true}" readonly=true>
                                                    <mat-option>-Select-</mat-option>
                                                    @for (type of userList; track type) {
                                                      <mat-option
                                                        [value]="type.selectionid">
                                                        {{ type.selectionvalue }}
                                                      </mat-option>
                                                    }
                                                  </mat-select>
                                                </mat-form-field>
                                              </div>
                                            </div>
                                          }
                                        </ng-container>

                                      </div>
                                      @if (taskHistoryList.length != 0) {
                                        <h2 class="orange-title">Project Approval History
                                        </h2>
                                      }
                                      @if (taskHistoryList.length != 0) {
                                        <table class="table table-bordered">
                                          <thead>
                                            <tr>
                                              <th>Date</th>
                                              <th>Actioned By</th>
                                              <th>Assigned To</th>
                                              <th>Status</th>
                                              <th>Remark</th>
                                            </tr>
                                          </thead>
                                          <tbody>
                                            @for (commentsData of taskHistoryList; track commentsData) {
                                              <tr>
                                                <td>{{commentsData.createdDate |date}}</td>
                                                <td>{{commentsData.updatedBy}}</td>
                                                <td>{{commentsData.assignToRole}} </td>
                                                <td> {{commentsData.approvalStatus}}</td>
                                                <td>{{commentsData.remark}}</td>
                                              </tr>
                                            }
                                          </tbody>
                                        </table>
                                      }


                                      <div class="submit-section">
                                        @if (ProjectData.approvalStatus == 'PENDING' || ProjectData.approvalStatus == 'APPROVED') {
                                          <button mat-flat-button matTooltip="Edit this record" color="primary"
                                            [disabled]="ProjectData.isDeleted"
                                            [routerLink]="['/searchProject/updateProjectDetails', ProjectData.entityId,'edit']">
                                            <mat-icon aria-hidden="false" class="m-0">edit</mat-icon> Edit
                                          </button>
                                        }

                                        @if (ProjectData.approvalStatus == 'PENDING') {
                                          <button mat-flat-button color="accent" matTooltip=" Send For Approval"
                                            [disabled]="ProjectData.isDeleted"
                                            (click)="submitForApproval(ProjectData.entityId)">
                                            Send For Approval
                                          </button>
                                        }
                                        <button mat-flat-button color="warn" mat-button (click)="back()">
                                          <mat-icon aria-hidden="false">cancel</mat-icon> Back
                                        </button>

                                      </div>

                                    </div>


                                  </div>
                                </div>
                              </div>


                            </div>
                          </div>
                        </div>
                      </form>