<app-loader *ngIf="showLoading"></app-loader>
<form>
    <div class="main-wrapper">
        <app-header> </app-header>
        <app-leftmenu></app-leftmenu>
        <div class="page-wrapper">
            <div class="content container-fluid">
                <!-- Page Header -->
                <div class="page-header">
                    <div class="row align-items-center">
                        <div class="col">
                            <h3 class="page-title">{{PageTitle}}</h3>
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <a routerLink="/Dashboard"> Dashboard</a>
                                </li>
                                <li class="breadcrumb-item active">{{PageTitle}}</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- /Page Header -->

                <div class="tab-content">

                    <!-- Add User -->
                    <div class="pro-overview tab-pane fade show active">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">

                                    <div class="col-md-4">

                                        <div class="scroll-content boxshadow">

                                            <!--  <div class="col-md-12 heading-reportParent">
                                                <input type='text' name="searchCity" [(ngModel)]='searchCity'
                                                    placeholder="Search by City Name" />
                                            </div>       

                                            <div class="col-md-8" *ngFor="let project of projectList">
                                                <a class="btn "
                                                    (click)="getScheduleByProject(project.selectionid)">{{project.selectionvalue}}</a>
                                            </div>
                                            -->

                                            <div class="row align-items-center">
                                                <!-- <div class="col">
                                                    <div class="total-rec">Total Records: {{ProjectData.filteredData.length}}</div>
                                                </div> -->
                                                <div class="col-auto">
                                                    <mat-form-field class="search-input">
                                                        <input matInput (keyup)="applyFilterProject($event)"
                                                            placeholder="Search..." #input>
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                            <div class="city-scroll">
                                            <table mat-table [dataSource]="ProjectData" matSort
                                                class="mat-elevation-z8">

                                                <ng-container matColumnDef="selectionvalue">
                                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Project </th>
                                                    <td mat-cell *matCellDef="let ProjectData">
                                                        <a (click)="getScheduleByProject(ProjectData.selectionid)">
                                                            {{ProjectData.selectionvalue}}
                                                        </a>
                                                    </td>
                                                </ng-container>

                                                <tr mat-header-row *matHeaderRowDef="displayedColumns1"></tr>
                                                <tr mat-row *matRowDef="let row; columns: displayedColumns1;"></tr>

                                            </table>
                                          </div>
                                        </div>
                                    </div>

                                    <div class="col-md-8" [hidden]="!enableSchedule">
                                        <!-- <h4>Milestone Schedule List</h4> -->
                                        <div class="col-auto float-right ml-auto">
                                            <button mat-flat-button color="accent" (click)="addSchedule(null, 'add')" *ngIf="billingScheduleAdd">
                                                <mat-icon aria-hidden="false">save</mat-icon> Add New Schedule
                                            </button>
                                        </div>

                                        <div class="row align-items-center">
                                            <div class="col">
                                                <div class="total-rec">Total Milestone Schedule:
                                                    {{totalRecords}}</div>
                                            </div>
                                            <div class="col-auto float-right ml-auto">
                                                <mat-form-field class="search-input">
                                                    <input matInput (keyup)="applyFilter($event)"
                                                        placeholder="Search..." #input>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                        <table mat-table [dataSource]="ScheduleRecord" matSort class="mat-elevation-z8">


                                            <!--  Name Column -->
                                            <ng-container matColumnDef="id">
                                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Milestone No
                                                </th>
                                                <td mat-cell *matCellDef="let ScheduleRecord ">
                                                    <div class="block"> {{ScheduleRecord.id.milestoneno}}</div>

                                                </td>
                                            </ng-container>

                                            <!--  address Column -->
                                            <ng-container matColumnDef="dateofbilling">
                                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Date of Billing
                                                </th>
                                                <td mat-cell *matCellDef="let ScheduleRecord ">
                                                    <div class="block" *ngIf="ScheduleRecord.dateofbilling > 0">
                                                        {{ScheduleRecord.dateofbilling | date:'dd-MM-yyyy'}} </div>
                                                    <div class="block" *ngIf="ScheduleRecord.dateofbilling == 0"> </div>
                                                </td>
                                            </ng-container>

                                            <!--  Email Column -->
                                            <ng-container matColumnDef="amountofbilling">
                                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Amount
                                                </th>
                                                <td mat-cell *matCellDef="let ScheduleRecord ">
                                                    <div class="block"> {{ScheduleRecord.amountofbilling}} </div>
                                                </td>
                                            </ng-container>
                                            <!-- Action Column -->
                                            <ng-container matColumnDef="action">
                                                <th mat-header-cell *matHeaderCellDef> Action </th>
                                                <td mat-cell *matCellDef="let ScheduleRecord">

                                                    <button mat-flat-button color="primary"
                                                        matTooltip="edit this record"
                                                        [disabled]='ScheduleRecord.isDeleted'
                                                        (click)="addSchedule(ScheduleRecord.id, 'edit')" title="Edit" *ngIf="billingScheduleEdit">
                                                        <mat-icon aria-hidden="false">edit</mat-icon>
                                                    </button>
                                                    <button mat-flat-button color="warn"
                                                        matTooltip="Delete this record"
                                                        [disabled]='ScheduleRecord.isDeleted'
                                                        (click)="deleteSchedule(ScheduleRecord.id)" *ngIf="billingScheduleDelete">
                                                        <mat-icon aria-hidden="false">delete</mat-icon>
                                                    </button>

                                                </td>
                                            </ng-container>

                                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                                        </table>
                                        <mat-paginator [pageSize]="pageSizedisplay" [pageSizeOptions]="itemPerPage"
                                            showFirstLastButtons>
                                        </mat-paginator>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>