<app-loader *ngIf="showLoading"></app-loader>
<form [formGroup]="resetpasswordForm" class="login-container" (ngSubmit)="resetpass()">
    <!-- Main Wrapper -->
    <div class="main-wrapper">
        <div class="account-content">

            <div class="container">

                <!-- Logo -->
                <div class="account-logo">
                    <a href="Dashboard"><img src="assets/Images/logo.png" alt="HR Managemet"></a>
                </div>
                <!-- /Logo -->

                <div class="account-box">
                    <div class="account-wrapper">
                       
                        <p class="account-subtitle">Reset Password</p>


                        <div *ngIf="errorHandle" class="help-block">{{errorMessage}}</div>
                        <div class="form-group">
                            <label>User Name</label>
                            <div [ngClass]="{ 'has-error': isSubmitted && formControls.username.errors }">
                                <input type="text" class="form-control" name="name" placeholder="Please enter username"
                                    [(ngModel)]="resetPasswordData.username" formControlName="username">
                            </div>

                            <div *ngIf="isSubmitted && formControls.username.errors" class="help-block">
                                <div *ngIf="formControls.username.errors.required">Username is required</div>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label>New Password</label>
                            <div [ngClass]="{ 'has-error': isSubmitted && formControls.newPassword.errors }">
                                <input class="form-control" type="password" placeholder="Please enter new password"
                                    [(ngModel)]="resetPasswordData.newPassword" formControlName="newPassword">
                            </div>
                            <div *ngIf="isSubmitted && formControls.newPassword.errors" class="help-block">
                                <div *ngIf="formControls.resetPassword.errors.required">New password is required</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>OTP</label>
                            <div [ngClass]="{ 'has-error': isSubmitted && formControls.token.errors }">
                                <input class="form-control" type="password" placeholder="Please enter OTP"
                                    [(ngModel)]="resetPasswordData.token" formControlName="token">
                            </div>
                            <div *ngIf="isSubmitted && formControls.token.errors" class="help-block">
                                <div *ngIf="formControls.token.errors.required">OTP is required</div>
                            </div>
                        </div>
                        <div class="form-group text-center">
                            <button mat-flat-button color="accent" type="submit">
                                <mat-icon aria-hidden="false">save</mat-icon>Submit</button>
                            <button mat-flat-button color="primary" (click)="back()">
                                <mat-icon aria-hidden="false">close</mat-icon>
                                Back</button>

                        </div>



                    </div>
                </div>
                <div style="clear:both"></div>
            </div>
        </div>
    </div>
    <!-- /Main Wrapper -->
</form>