<app-loader *ngIf="showLoading"></app-loader>
<form>
    <div class="main-wrapper">
        <app-header> </app-header>
        <app-leftmenu></app-leftmenu>
        <div class="page-wrapper">
            <div class="content container-fluid">
                <!-- Page Header -->
                <div class="page-header">
                    <div class="row align-items-center">
                        <div class="col">
                            <h3 class="page-title">{{PageTitle}}</h3>
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <a routerLink="/Dashboard"> Dashboard</a>
                                </li>
                                <li class="breadcrumb-item active">{{PageTitle}}</li>
                            </ul>
                        </div>

                        <div class="col-auto float-right ml-auto">
                            <button mat-flat-button color="warn" (click)="filterFunc()" *ngIf="!result">
                                <mat-icon aria-hidden="false">filter</mat-icon> Filter
                            </button>
                            <button mat-flat-button color="primary" (click)="filterFunc()" *ngIf="result">
                                <mat-icon aria-hidden="false">check_circle</mat-icon> Filter Applied
                            </button>
                            <button mat-flat-button color="accent" (click)="addPrs()" *ngIf="prsAdd">
                                <mat-icon aria-hidden="false">add</mat-icon> Add PRS
                            </button>
                        </div>
                    </div>
                </div>
                <!-- /Page Header -->

                <div class="filter-box" *ngIf="filterDiv">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <mat-form-field class="example-full-width">
                                    <input matInput name="prsNo" type="text" placeholder="Search by PRS no."
                                        [(ngModel)]="FilterData.prsNo">
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <mat-form-field class="example-full-width">
                                    <mat-select [(ngModel)]="FilterData.issueChequeTo" name="consignor" 
                                    [typeaheadDebounceInterval]="matSelectDuration"
                                        placeholder="Search by Issue Cheque To">
                                        <mat-option>-Select-</mat-option>
                                        <mat-option *ngFor="let vendor of partyList" value="{{vendor.selectionid}}">
                                            {{ vendor.selectionvalue }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <!-- <mat-form-field class="example-full-width">
                                    <mat-select [(ngModel)]="FilterData.purchaseOrderNo"
                                        name="purchaseOrderNo" placeholder="Search by PO no.">
                                        <mat-option>-Select-</mat-option>
                                        <mat-option *ngFor="let po of poList" value="{{po.selectionid}}">
                                            {{po.selectionvalue}}</mat-option>
                                    </mat-select>
                                </mat-form-field> -->
                                <mat-form-field class="example-full-width">
                                    <input matInput name="purchaseOrderNumber" type="text"
                                        placeholder="Search by PO No." [(ngModel)]="FilterData.purchaseOrderNumber">
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <div class="submit-section">
                        <button mat-flat-button color="primary" (click)="search()">
                            <mat-icon aria-hidden="false">search</mat-icon> Search
                        </button>
                        <button mat-flat-button color="warn" (click)="cancel()">
                            <mat-icon aria-hidden="false">cancel</mat-icon> Cancel
                        </button>
                    </div>
                </div>

                <div class="tab-content">

                    <!-- Add Family -->
                    <div class="pro-overview tab-pane fade show active">
                        <div class="card">


                            <!-- Search Table -->
                            <div class="row align-items-center">
                                <div class="col">
                                    <div class="total-rec">Total Records: {{totalRecords}}</div>
                                </div>
                                <div class="col-auto float-right ml-auto">
                                    <mat-form-field class="search-input">
                                        <input matInput (keyup)="applyFilter($event)" placeholder="Search..." #input>
                                    </mat-form-field>
                                </div>
                            </div>


                            <table mat-table [dataSource]="PrsListData" matSort class="mat-elevation-z8">
                                <ng-container matColumnDef="prsNo">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> PRS No. / PRS Date </th>
                                    <td mat-cell *matCellDef="let PrsListData" data-label="PRS No.&#xa;PRS Date">
                                        <div class="block strong"> {{PrsListData.prsNo}} </div>
                                        <div class="block"> {{PrsListData.prsDate | date : 'dd/MM/yyyy'}} </div>
                                    </td>
                                </ng-container>
                                <!-- <ng-container matColumnDef="prsDate">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> PRS Date </th>
                                    <td mat-cell *matCellDef="let PrsListData">
                                        <div class="block"> {{PrsListData.prsDate | date : 'dd/MM/yyyy'}} </div>
                                    </td>
                                </ng-container> -->
                                <!--  PO No. Column -->
                                <ng-container matColumnDef="purchaseOrderNumber">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Purchase Order No. / Project
                                    </th>
                                    <td mat-cell *matCellDef="let PrsListData" data-label="PO No.&#xa;Project">
                                        <div class="block strong"> {{PrsListData.purchaseOrderNumber}} </div>
                                        <div class="block"> {{PrsListData.project}} </div>
                                    </td>
                                </ng-container>

                                <!--  Order date Column -->

                                <!-- <ng-container matColumnDef="project">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Project </th>
                                    <td mat-cell *matCellDef="let PrsListData">
                                        <div class="block"> {{PrsListData.project}} </div>
                                    </td>
                                </ng-container> -->
                                <ng-container matColumnDef="partyName">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Party Name </th>
                                    <td mat-cell *matCellDef="let PrsListData" data-label="Party Name">
                                        <div class="block"> {{PrsListData.partyName}} </div>
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="invoiceAmount">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Invoice Amount </th>
                                    <td mat-cell *matCellDef="let PrsListData" data-label="Invoice Amount">
                                        <div class="block"> {{PrsListData.invoiceAmount}} </div>
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="approvalStatus">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Approval Status </th>
                                    <td mat-cell *matCellDef="let PrsListData" data-label="Approval Status">
                                        <div class="block"> {{PrsListData.approvalStatus}} </div>
                                    </td>
                                </ng-container>


                                <!-- Action Column -->
                                <ng-container matColumnDef="action">
                                    <th mat-header-cell *matHeaderCellDef> Action </th>
                                    <td mat-cell *matCellDef="let PrsListData">
                                        <!-- <a mat-flat-button color="accent" matTooltip="View this record"
                                            [routerLink]="['/ViewPrsById', PrsListData.entityId]" *ngIf="prsView">
                                            <mat-icon aria-hidden="false">visibility</mat-icon>
                                        </a>

                                        <a mat-flat-button color="primary" matTooltip="Edit this record"
                                            *ngIf="PrsListData.approvalStatus == 'PENDING' && prsEdit"
                                            [routerLink]="['/updatePrs', PrsListData.entityId,'edit']">
                                            <mat-icon aria-hidden="false">edit</mat-icon>
                                        </a>

                                        <button mat-flat-button color="warn"
                                            *ngIf="PrsListData.approvalStatus == 'PENDING' && prsDelete"
                                            matTooltip="Delete this record" (click)="onDelete(PrsListData.entityId)"
                                            title="Delete">
                                            <mat-icon aria-hidden="false">delete</mat-icon>
                                        </button>

                                        <a mat-flat-button color="primary" matTooltip="Send for Approval"
                                            *ngIf="PrsListData.approvalStatus == 'PENDING'"
                                            (click)="saveTask(PrsListData.entityId)" title="Send for Approval">
                                            <mat-icon aria-hidden="false">send</mat-icon>
                                        </a>

                                        <a mat-flat-button color="warn" class="green-btn" matTooltip="Add Payments"
                                            *ngIf="PrsListData.approvalStatus == 'APPROVED' || PrsListData.approvalStatus == 'PRS_APPROVED'"
                                            [routerLink]="['/searchPayments', PrsListData.entityId]" title="Add Payments">
                                            <mat-icon aria-hidden="false">article</mat-icon>
                                        </a> -->


                                        <button mat-flat-button color="accent" [matMenuTriggerFor]="menu">
                                            <mat-icon>mouse</mat-icon> Action
                                        </button>
                                        <mat-menu #menu="matMenu" class="actionmenu">
                                            <a mat-menu-item matTooltip="View this record"
                                                [routerLink]="['/ViewPrsById', PrsListData.entityId]" *ngIf="prsView">
                                                <mat-icon aria-hidden="false">visibility</mat-icon> View
                                            </a>
                                            <a mat-menu-item matTooltip="Edit this record"
                                                *ngIf="PrsListData.approvalStatus == 'PENDING' && prsEdit"
                                                [routerLink]="['/updatePrs', PrsListData.entityId,'edit']">
                                                <mat-icon aria-hidden="false">edit</mat-icon> Edit
                                            </a>
                                            <button mat-menu-item
                                                *ngIf="PrsListData.approvalStatus == 'PENDING' && prsDelete"
                                                matTooltip="Delete this record"
                                                (click)="onDelete(PrsListData.entityId)">
                                                <mat-icon aria-hidden="false">delete</mat-icon> Delete
                                            </button>
                                            <a mat-menu-item matTooltip="Send for Approval"
                                                *ngIf="PrsListData.approvalStatus == 'PENDING'  && prsEdit"
                                                (click)="saveTask(PrsListData.entityId)">
                                                <mat-icon aria-hidden="false">send</mat-icon> Send for Approval
                                            </a>
                                            <a mat-menu-item matTooltip="Add Payments"
                                                *ngIf="(PrsListData.approvalStatus == 'APPROVED' || PrsListData.approvalStatus == 'PRS_APPROVED') && prsEdit"
                                                [routerLink]="['/searchPayments', PrsListData.entityId]"
                                                title="Add Payments">
                                                <mat-icon aria-hidden="false">article</mat-icon> Add Payments
                                            </a>
                                        </mat-menu>
                                    </td>
                                </ng-container>

                                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                            </table>
                            <mat-paginator [pageSize]="pageSizedisplay" [pageSizeOptions]="itemPerPage"
                                showFirstLastButtons>
                            </mat-paginator>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>