<style type="text/css">
  @media print {

  /* table {
  -fs-table-paginate: paginate;
}

thead {
display: table-header-group;
} */
table {
page-break-after: auto
}

tr {
page-break-inside: avoid;
page-break-after: auto
}

td {
page-break-inside: avoid;
page-break-after: auto
}

thead {
display: table-header-group
}

tfoot {
display: table-footer-group
}

}

@page {
size: auto;
margin: 25mm 25mm 125mm 125mm;
}

.hr {border-top-color: #30cfd2;}
</style>
<form name="viewPoform">
  <div class="row" style="margin: 0px;">
    <div class="col-sm-10">
      <div class="container viewPO table-responsive" name="table" id="table">
        <p class="pocenter-align"><strong class="potitle">
          @if (purchaseOrder.approvalStatus=='APPROVED') {
            <div class="letterhead-logo pb-2" style="text-align: right;">
              <img src="{{letterHeadLogoPath}}" alt="Aurionpro Solutions" height="90">
            </div>
          }

          @if (purchaseOrder.approvalStatus!='APPROVED') {
            <span class="draft">
            DRAFT </span>
          } PURCHASE ORDER </strong> @if (purchaseOrder.approvalStatus!='APPROVED') {
          <span
            class="draft">
          DRAFT </span>
        }
      </p>
      <table class="table table-bordered" cellspacing="0px" cellpadding="0px">
        <thead>
          <tr>
            @if (purchaseOrder.approvalStatus=='PENDING' || purchaseOrder.approvalStatus=='AMENDMENT_APPROVED' || purchaseOrder.approvalStatus.includes('REJECTED')) {
              <td class="tdwidth"
                >
                <strong class="block-text">Invoice Postal Address:</strong><br />
                <span><strong>{{purchaseOrder.buyName}}</strong></span><br />
                <span>{{purchaseOrder.buyInvoAddress}}</span><br />
                <!-- <span>{{purchaseOrder.buyInvoAddress2}}</span>
                <span>{{purchaseOrder.buyInvoLandmark}}</span><br/>
                <span>{{purchaseOrder.buyInvoCity}}, {{purchaseOrder.buyInvoDist}}, {{purchaseOrder.buyInvoState}} - {{purchaseOrder.buyInvoPincode}}. {{purchaseOrder.buyInvoCountry}}</span><br/> -->
                <span>Contact Person: {{purchaseOrder.buyContactPerson}}</span><br />
                <span>Phone No. {{purchaseOrder.buyMobNo}}</span><br />
                <span>Email: {{purchaseOrder.buyEmail}}</span><br />
              </td>
            }
            @if (!(purchaseOrder.approvalStatus=='PENDING' || purchaseOrder.approvalStatus=='AMENDMENT_APPROVED' || purchaseOrder.approvalStatus.includes('REJECTED'))) {
              <td class="tdwidth"
                >
                <strong class="block-text">Invoice Postal Address:</strong><br />
                <span><strong>{{purchaseOrder.invoicetoname}}</strong></span><br />
                <span>{{purchaseOrder.invoicetoaddressforhistory}}</span><br />
                <span>Contact Person: {{purchaseOrder.invoicetocontact}}</span><br />
                <span>Phone No. {{purchaseOrder.invoicetophone}}</span><br />
                <span>Email: {{purchaseOrder.invoicetoemail}}</span>
                <!-- <span><div style="white-space:pre-wrap;" ng-bind-html="purchaseOrder.invoiceAddress"></div></span><br/> -->
              </td>
            }
            <td class="tdwidth">
              <table cellspacing="0px" cellpadding="0px" class="borderless">
                <tr>
                  <td style="border:none !important">
                    <strong class="block-text">Order No.:</strong>
                    <p class="description-po">
                      <span>{{purchaseOrder.purchaseOrderNo}}</span>
                    </p>
                  </td>
                </tr>
                @if (purchaseOrder.isAmendedFlag=='YES') {
                  <tr>
                    <td style="border:none !important">
                      <strong class="block-text">Old Order No.:</strong>
                      <p class="description-po">
                        <span>{{purchaseOrder.oldPoNo}}</span>
                      </p>
                    </td>
                  </tr>
                }
                <tr>
                  <td style="border:none !important">
                    <strong class="block-text">Order Type:</strong>
                    <p class="description-po">
                      <span>{{purchaseOrder.orderType}}</span>
                    </p>
                  </td>
                </tr>
                <tr>
                  <td style="border:none !important">
                    <strong class="block-text">Supplier's Ref:</strong>
                    <span class="description-po suppref">
                      {{purchaseOrder.suppliersReference}}
                    </span>
                  </td>
                </tr>
              </table>
            </td>
            <td class="tdwidth">
              <table class="borderless" cellspacing="0px" cellpadding="0px">
                <tr>
                  <td style="border:none !important">
                    <strong class="block-text">Order Date:</strong>
                    <p class="description-po">
                      <span>{{purchaseOrder.orderDate  | date : 'dd/MM/yyyy'}}</span>
                    </p>
                  </td>
                </tr>
                @if (purchaseOrder.isAmendedFlag=='YES') {
                  <tr>
                    <td style="border:none !important">
                      <strong class="block-text">Old Order Date:</strong>
                      <p class="description-po">
                        <span>{{purchaseOrder.oldPoDate  | date : 'dd/MM/yyyy'}}</span>
                      </p>
                    </td>
                  </tr>
                }
                <tr>
                  <td style="border:none !important">
                    <strong class="block-text">Mode / Terms of Payment:</strong>
                    <p class="description-po">
                      <span>{{purchaseOrder.modeOfPayment}}</span>
                    </p>
                  </td>
                </tr>
                <tr>
                  <td style="border:none !important">
                    <strong class="block-text">Other reference(s):</strong>
                    <p class="description-po">
                      <span>{{purchaseOrder.otherReference}}</span>
                    </p>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
          <tr>
            <td>
              <strong>Delivery Term: </strong>{{purchaseOrder.deliveryTerm}}
              <!--  <p class="description-po">
              <span>{{purchaseOrder.deliveryTerm}}</span>
            </p> -->
          </td>
          <td>
            <strong>Dispatch through: </strong>{{purchaseOrder.dispatchThrough}}
            <!--  <p class="description-po">
            <span>{{purchaseOrder.dispatchThrough}}</span>
          </p> -->
        </td>
        <td>
          <strong>Currency: </strong>{{purchaseOrder.currency}}
          <!--  <p class="description-po">
          <span>{{purchaseOrder.currency}}</span>
        </p> -->
      </td>
    </tr>
    <tr>
      @if (purchaseOrder.approvalStatus=='PENDING' || purchaseOrder.approvalStatus=='AMENDMENT_APPROVED' || purchaseOrder.approvalStatus.includes('REJECTED')) {
        <td
          >
          <strong class="block-text">Supplier Address:</strong><br />
          <span><strong>{{purchaseOrder.suppName}}</strong></span><br />
          <span>{{purchaseOrder.suppAddress}}</span><br />
          <!-- <span>{{purchaseOrder.suppAddress2}}</span>
          <span>{{purchaseOrder.suppLandmark}}</span><br/>
          <span>{{purchaseOrder.suppCity}}, {{purchaseOrder.suppDist}}, {{purchaseOrder.suppState}} - {{purchaseOrder.suppPincode}}. {{purchaseOrder.suppCountry}}</span><br/> -->
          <span>Contact Person: {{purchaseOrder.suppContactPerson}}</span><br />
          <span>Phone No. {{purchaseOrder.suppMobNo}}</span><br />
          <span>Email: {{purchaseOrder.suppEmail}}</span><br />
          <!--  <strong class="block-text">Bill From State:</strong> -->
          <!-- <p class="description-po">
          <span>{{purchaseOrder.suppGstState}}</span>
        </p> -->
        <strong>GST No.:</strong> {{purchaseOrder.billFromGstNo}}
        <!--  <p class="description-po">
        <span>{{purchaseOrder.billFromGstNo}}</span>
      </p> -->
    </td>
  }
  @if (!(purchaseOrder.approvalStatus=='PENDING' || purchaseOrder.approvalStatus=='AMENDMENT_APPROVED' || purchaseOrder.approvalStatus.includes('REJECTED'))) {
    <td
      >
      <strong class="block-text">Supplier Address:</strong><br />
      <span><strong>{{purchaseOrder.suppliernameforhistory}}</strong></span><br />
      <span>{{purchaseOrder.supplieraddress}}</span><br />
      <span>Contact Person: {{purchaseOrder.suppliercontact}}</span><br />
      <span>Phone No. {{purchaseOrder.supplierphone}}</span><br />
      <span>Email: {{purchaseOrder.supplieremail}}</span><br />
      <strong>GST No.:</strong> {{purchaseOrder.billFromGstNo}}
      <!-- <span><div style="white-space:pre-wrap;" ng-bind-html="purchaseOrder.supplierAddress"></div></span><br/> -->
    </td>
  }
  @if (purchaseOrder.approvalStatus=='PENDING' || purchaseOrder.approvalStatus=='AMENDMENT_APPROVED' || purchaseOrder.approvalStatus.includes('REJECTED')) {
    <td
      >
      <strong class="block-text">Bill To Address:</strong><br />
      <span><strong>{{purchaseOrder.buyName}}</strong></span><br />
      <span>{{purchaseOrder.buyBillToAddress}}</span><br />
      <!-- <span>{{purchaseOrder.buyBillToAddress2}}</span>
      <span>{{purchaseOrder.buyBillToLandmark}}</span><br/>
      <span>{{purchaseOrder.buyBillToCity}}, {{purchaseOrder.buyBillToDist}}, {{purchaseOrder.buyBillToState}} - {{purchaseOrder.buyBillToPincode}}. {{purchaseOrder.buyBillToCountry}}</span><br/> -->
      <span>Contact Person: {{purchaseOrder.buyContactPerson}}</span><br />
      <span>Phone No. {{purchaseOrder.buyMobNo}}</span><br />
      <span>Email: {{purchaseOrder.buyEmail}}</span><br />
      <strong>GST No.:</strong>
      @if (purchaseOrder.buyBillToGstNo != null) {
        <span>{{purchaseOrder.buyBillToGstNo}}</span>
      }
      @if (purchaseOrder.buyBillToGstNo == null) {
        <span>NA</span>
      }
    </td>
  }
  @if (!(purchaseOrder.approvalStatus=='PENDING' || purchaseOrder.approvalStatus=='AMENDMENT_APPROVED' || purchaseOrder.approvalStatus.includes('REJECTED'))) {
    <td
      >
      <strong class="block-text">Bill To Address:</strong><br />
      <span><strong>{{purchaseOrder.billtoname}}</strong></span><br />
      <span>{{purchaseOrder.billtoaddressforhistory}}</span><br />
      <span>Contact Person: {{purchaseOrder.billtocontact}}</span><br />
      <span>Phone No. {{purchaseOrder.billtophone}}</span><br />
      <span>Email: {{purchaseOrder.billtoemail}}</span><br />
      <strong>GST No.:</strong> {{purchaseOrder.billtogstin}}
      <!-- <span><div style="white-space:pre-wrap;" ng-bind-html="purchaseOrder.billingAddress"></div></span><br/> -->
    </td>
  }
  @if (purchaseOrder.approvalStatus=='PENDING' || purchaseOrder.approvalStatus=='AMENDMENT_APPROVED' || purchaseOrder.approvalStatus.includes('REJECTED')) {
    <td
      >
      <strong class="block-text">Ship To Address:</strong><br />
      <span><strong>{{purchaseOrder.buyName}}</strong></span><br />
      <span>{{purchaseOrder.buyShipToAddress}}</span>
      <!-- <span>{{purchaseOrder.buyShipToAddress2}}</span>
      <span> {{purchaseOrder.buyShipToLandmark}}</span><br/>
      <span>{{purchaseOrder.buyShipToCity}}, {{purchaseOrder.buyShipToDist}}, {{purchaseOrder.buyShipToState}} - {{purchaseOrder.buyShipToPincode}}. {{purchaseOrder.buyShipToCountry}}</span><br/> -->
      <span>Contact Person: {{purchaseOrder.buyContactPerson}}</span><br />
      <span>Phone No. {{purchaseOrder.buyMobNo}}</span><br />
      <span>Email: {{purchaseOrder.buyEmail}}</span><br />
    </td>
  }
  @if (!(purchaseOrder.approvalStatus=='PENDING' || purchaseOrder.approvalStatus=='AMENDMENT_APPROVED' || purchaseOrder.approvalStatus.includes('REJECTED'))) {
    <td
      >
      <strong class="block-text">Ship To Address:</strong><br />
      <span><strong>{{purchaseOrder.shiptoname}}</strong></span><br />
      <span>{{purchaseOrder.shiptoaddressforhistory}}</span><br />
      <span>Contact Person: {{purchaseOrder.shiptocontact}}</span><br />
      <span>Phone No. {{purchaseOrder.shiptophone}}</span><br />
      <span>Email: {{purchaseOrder.shiptoemail}}</span><br />
      <!-- <span><div style="white-space:pre-wrap;" ng-bind-html="purchaseOrder.shippingAddress"></div></span> -->
    </td>
  }
</tr>
</thead>
<tbody>
  <tr>
    <td colspan="3" style="padding: 0px; margin: 0px" class="product-tbl">
      <table class="table table-bordered print-border" cellspacing="0px" cellpadding="0px"
        style="width: 100%;">
        @if (purchaseOrder.isAmendedFlag=='YES') {
          <tr>
            <td colspan="10"><strong>Amendment Details</strong></td>
          </tr>
        }
        <tr>
          <th style="width: 50px" class="srn">Sr.No.</th>
          <th>Product</th>
          <th>HSN/SAC</th>
          <th>Rate</th>
          <th>Qty (UOM)</th>
          <th>Amount</th>
          <th>Disc.</th>
          @if (purchaseOrder.isHistoricData=='NO' && isSameState && purchaseOrder.currency =='INR') {
            <th
              >
            CGST</th>
          }
          @if (purchaseOrder.isHistoricData=='NO' && isSameState && purchaseOrder.currency =='INR') {
            <th
              >
            SGST</th>
          }
          @if ((purchaseOrder.isHistoricData=='NO' && purchaseOrder.currency =='INR') && !(isSameState) ) {
            <th
              >
            IGST</th>
          }
          @if (purchaseOrder.currency !='INR') {
            <th>Tax</th>
          }
          @if (purchaseOrder.isHistoricData=='YES') {
            <th>Service Tax (Rs.)</th>
          }
          @if (purchaseOrder.isHistoricData=='YES') {
            <th>VAT (Rs.)</th>
          }
          <th>Final Amt</th>
        </tr>
        @for (productdetails of purchaseOrder.productDetailsList; track productdetails; let i = $index) {
          <tr>
            <td>{{i+1}}</td>
            @if (purchaseOrder.approvalStatus=='PENDING' || purchaseOrder.approvalStatus=='AMENDMENT_APPROVED' || purchaseOrder.approvalStatus.includes('REJECTED')) {
              <td
                >
                @if (productdetails.description!=null || productdetails.productDesc!=null) {
                  <div>
                    @if (productdetails.productDesc!=null && productdetails.description==null) {
                      <span
                        style="white-space: pre-line;">{{productdetails.product}}
                      ({{productdetails.productDesc}})</span>
                    }
                    @if (productdetails.productDesc==null && productdetails.description!=null) {
                      <span
                        style="white-space: pre-line;">{{productdetails.product}}
                      ({{productdetails.description}})</span>
                    }
                    @if (productdetails.productDesc!=null && productdetails.description!=null) {
                      <span
                        style="white-space: pre-line;">{{productdetails.product}}
                      ({{productdetails.productDesc}} - {{productdetails.description}})</span>
                    }
                  </div>
                }
                <!-- <div *ngIf="productdetails.description!=null || productdetails.productDesc!=null">{{productdetails.product}} (
                <span *ngIf="productdetails.description!=null" style="white-space: pre-line;">{{productdetails.description}} - </span>
                <span *ngIf="productdetails.productDesc!=null" style="white-space: pre-line;">{{productdetails.productDesc}}</span>)
              </div> -->
              @if (productdetails.description==null && productdetails.productDesc==null) {
                <div style="white-space: pre-line;"
                  >
                {{productdetails.product}}</div>
              }
            </td>
          }
          @if (!(purchaseOrder.approvalStatus=='PENDING' || purchaseOrder.approvalStatus=='AMENDMENT_APPROVED' || purchaseOrder.approvalStatus.includes('REJECTED'))) {
            <td
              >
            {{productdetails.productNameWithDesc}}</td>
          }
          <td>{{productdetails.hsnId}}</td>
          @if (productdetails.rate%1==0) {
            <td>{{productdetails.rate}}.00</td>
          }
          @if (productdetails.rate%1!=0) {
            <td>{{productdetails.rate | number : '1.2-2'}}</td>
          }
          @if (purchaseOrder.approvalStatus=='PENDING' || purchaseOrder.approvalStatus=='AMENDMENT_APPROVED' || purchaseOrder.approvalStatus.includes('REJECTED')) {
            <td
              >
            {{productdetails.quantity}} ({{productdetails.baseuom}})</td>
          }
          @if (!(purchaseOrder.approvalStatus=='PENDING' || purchaseOrder.approvalStatus=='AMENDMENT_APPROVED' || purchaseOrder.approvalStatus.includes('REJECTED'))) {
            <td
              >
            {{productdetails.quantity}} ({{productdetails.baseUomData}})</td>
          }
          <td>{{productdetails.amount | number : '1.2-2'}} </td>
          <td>{{productdetails.totalDiscount | number : '1.2-2'}}</td>
          @if (purchaseOrder.isHistoricData=='NO' && isSameState && purchaseOrder.currency =='INR') {
            <td
              >
            {{productdetails.cgstAmount | number : '1.2-2'}} ({{productdetails.cgst}}%)</td>
          }
          @if (purchaseOrder.isHistoricData=='NO' && isSameState && purchaseOrder.currency =='INR') {
            <td
              >
            {{productdetails.sgstAmount | number : '1.2-2'}} ({{productdetails.sgst}}%)</td>
          }
          @if (purchaseOrder.isHistoricData=='NO' && purchaseOrder.currency =='INR' && !(isSameState)) {
            <td
              >
            {{productdetails.igstAmount | number : '1.2-2'}} ({{productdetails.igst}}%)</td>
          }
          @if (purchaseOrder.currency !='INR') {
            <td>
              {{productdetails.igstAmount | number : '1.2-2'}}
            ({{productdetails.igst}}%)</td>
          }
          @if (purchaseOrder.isHistoricData=='YES') {
            <td>{{productdetails.serviceTax}}</td>
          }
          @if (purchaseOrder.isHistoricData=='YES') {
            <td>{{productdetails.vat}}</td>
          }
          <td style="text-align: right;">{{productdetails.finalAmount | number : '1.2-2'}}</td>
        </tr>
      }
    </table>
  </td>
</tr>
<tr>
  <td style="text-align: right;" colspan="2">Total excluding Taxes</td>
  <td style="text-align: right;"> {{purchaseOrder.totalWithoutTaxes | number : '1.2-2'}}</td>
</tr>
<tr>
  <td style="text-align: right;" colspan="2">Total Taxes</td>
  <td style="text-align: right;"> {{purchaseOrder.totalTaxes | number : '1.2-2'}}</td>
</tr>
@if (purchaseOrder.currency=='USD') {
  <tr>
    <td style="text-align: right;" colspan="2">Discount</td>
    <td style="text-align: right;"> {{purchaseOrder.discountAmt | number : '1.2-2'}}</td>
  </tr>
}
<tr>
  <td style="text-align: right;" colspan="2"><strong> Grand Total</strong> </td>
  <td style="text-align: right;"> <strong> {{purchaseOrder.grandTotal | number : '1.2-2'}}
  </strong>
</td>
</tr>
<tr>
  <td colspan="3">Amount in words :
    @if (purchaseOrder.amountInWords==null || purchaseOrder.amountInWords=='') {
      <strong style="text-transform: capitalize;"
        >{{finalAmount}}
      Only.</strong>
    }
    @if (purchaseOrder.amountInWords!=null || purchaseOrder.amountInWords!='') {
      <strong style="text-transform: capitalize;"
      >{{purchaseOrder.amountInWords}}</strong>
    }
  </td>
</tr>
@if (purchaseOrder.isAmendedFlag=='YES') {
  <tr>
    <td colspan="3" style="padding: 0px; margin: 0px" class="product-tbl">
      <table class="table table-bordered print-border" style="width: 100%;">
        <tr>
          <td colspan="10"><strong>Old PO Details</strong></td>
        </tr>
        <tr>
          <th style="width: 50px" class="srn">Sr.No.</th>
          <th>Product</th>
          <th>HSN/SAC</th>
          <th>Rate</th>
          <th>Qty (UOM)</th>
          <th>Amount</th>
          <th>Disc.</th>
          @if (oldPoData.isHistoricData=='NO' && isSameStateOld) {
            <th>CGST</th>
          }
          @if (oldPoData.isHistoricData=='NO' && isSameStateOld) {
            <th>SGST</th>
          }
          @if (oldPoData.isHistoricData=='NO' && !(isSameStateOld)) {
            <th>IGST</th>
          }
          @if (oldPoData.isHistoricData=='YES') {
            <th>Service Tax (Rs.)</th>
          }
          @if (oldPoData.isHistoricData=='YES') {
            <th>VAT (Rs.)</th>
          }
          <th>Final Amt</th>
        </tr>
        @for (productdetails of oldPoData.productDetailsList; track productdetails; let i = $index) {
          <tr>
            <td>{{i+1}}</td>
            <td>{{productdetails.productNameWithDesc}}</td>
            <td>{{productdetails.hsnId}}</td>
            @if (productdetails.rate%1==0) {
              <td>{{productdetails.rate}}.00</td>
            }
            @if (productdetails.rate%1!=0) {
              <td>{{productdetails.rate | number : '1.2-2'}}</td>
            }
            <td>{{productdetails.quantity}} ({{productdetails.baseUomData}})</td>
            <td>{{productdetails.amount | number : '1.2-2'}} </td>
            <td>{{productdetails.totalDiscount | number : '1.2-2'}}</td>
            @if (oldPoData.isHistoricData=='NO' && isSameStateOld) {
              <td>
                {{productdetails.cgstAmount | number : '1.2-2'}}
              ({{productdetails.cgst}}%)</td>
            }
            @if (oldPoData.isHistoricData=='NO' && isSameStateOld) {
              <td>
                {{productdetails.sgstAmount | number : '1.2-2'}}
              ({{productdetails.sgst}}%)</td>
            }
            @if (oldPoData.isHistoricData=='NO' && !(isSameStateOld)) {
              <td>
              {{productdetails.igstAmount | number : '1.2-2'}} ({{productdetails.igst}}%)</td>
            }
            @if (oldPoData.isHistoricData=='YES') {
              <td>
              {{productdetails.serviceTax | number : '1.2-2'}}</td>
            }
            @if (oldPoData.isHistoricData=='YES') {
              <td>{{productdetails.vat | number : '1.2-2'}}</td>
            }
            <td style="text-align: right;">{{productdetails.finalAmount | number : '1.2-2'}}</td>
          </tr>
        }
      </table>
    </td>
  </tr>
}
@if (purchaseOrder.isAmendedFlag=='YES') {
  <tr>
    <td style="text-align: right;" colspan="2">Total excluding Taxes</td>
    <td style="text-align: right;"> {{oldPoData.totalWithoutTaxes | number : '1.2-2'}}</td>
  </tr>
}
@if (purchaseOrder.isAmendedFlag=='YES') {
  <tr>
    <td style="text-align: right;" colspan="2">Total Taxes</td>
    <td style="text-align: right;"> {{oldPoData.totalTaxes | number : '1.2-2'}}</td>
  </tr>
}
@if (oldPoData.currency=='USD' && purchaseOrder.isAmendedFlag=='YES') {
  <tr>
    <td style="text-align: right;" colspan="2">Discount</td>
    <td style="text-align: right;"> {{oldPoData.discountAmt | number : '1.2-2'}}</td>
  </tr>
}
@if (purchaseOrder.isAmendedFlag=='YES') {
  <tr>
    <td style="text-align: right;" colspan="2"><strong> Grand Total</strong> </td>
    <td style="text-align: right;"> <strong> {{oldPoData.grandTotal | number : '1.2-2'}}
    </strong>
  </td>
</tr>
}
@if (purchaseOrder.isAmendedFlag=='YES') {
  <tr>
    <td colspan="3">Amount in words :
      @if (oldPoData.amountInWords==null || oldPoData.amountInWords=='') {
        <strong style="text-transform: capitalize;"
          >{{oldfinalAmount}}
        Only.</strong>
      }
      @if (oldPoData.amountInWords!=null || oldPoData.amountInWords!='') {
        <strong style="text-transform: capitalize;"
        >{{oldPoData.amountInWords}}</strong>
      }
    </td>
  </tr>
}
<tr>
  <td colspan="3">
    <strong class="block-text">Terms &amp; Conditions: </strong>
    <p class="description-po">
      <span style="white-space: pre-line;">{{purchaseOrder.termsConditions}}</span>
    </p>
  </td>
</tr>
@if (purchaseOrder.additionalTerms!='NA' && purchaseOrder.additionalTerms!=null) {
  <tr>
    <td colspan="3">
      <strong class="block-text">Annexure Terms &amp; Conditions: </strong>
      <p class="description-po">
        <span style="white-space: pre-line;" [innerHTML]="purchaseOrder.additionalTerms"></span>
      </p>
    </td>
  </tr>
}
<tr>
  <td colspan="2">
    <p class="description-po">
      <span>E. &amp; O. E.</span><br>
      <span><strong>For {{purchaseOrder.suppName}},</strong></span><br>
      <span style="height: 60px; display: block;">Date:</span><br>
      <span>Authorized Signatory</span>
    </p>
  </td>
  <td colspan="1" style="text-align: right;">
    <p class="description-po">
      <!-- <span style="height: 80px; display: block;"><strong>For
    {{purchaseOrder.organisationName}},</strong></span>
    <span>Authorized Signatory</span><br>
    <span><strong>{{purchaseOrder.poheadname}}</strong></span><br>
    <span>{{purchaseOrder.poheaddesignation}}</span> -->
  </p>
</td>
</tr>
<tr>
  <td colspan="3">**This is an electronically generated Purchase Order. No signatures are required.**
  </td>
</tr>
</tbody>
</table>

@if (purchaseOrder.approvalStatus=='APPROVED') {
  <table class="w-100 text-left" width="100%" cell-padding="0" cell-spacing="0">
    <tr>
      <td>
        <hr class="hr" style="border-top: 1px solid #30cfd2;">
      </td>
    </tr>
    <tr>
      <td>
        <table width="100%" cell-padding="0" cell-spacing="0">
          <tr>
            <td width="55%">
              <span><strong>Aurionpro Solutions Limited</strong></span> <br>
              <span>Synergia IT Park, Plot No. R-270, T.T.C. Industrial Estate, Rabale,</span> <br>
              <span>Navi Mumbai - 400 701  MAHARASHTRA - INDIA.</span>
            </td>
            <td width="20%" class="text-left">
              <span>&#9742; +91-22-4040 7070 <div class="clearfix"></div></span>
              <span>&#9742; +91-22-4040 7080 <div class="clearfix"></div></span>
            </td>
            <td width="2%" style="border-left:  1px solid #30cfd2;">&nbsp;</td>
            <td width="23%">
              <span style="text-align: left; display: block;">&#9993; info&#64;aurionpro.com <div class="clearfix"></div></span>
              <span style="text-align: left; display: block;"> <span style="color: black;">🌐</span> www.aurionpro.com <div class="clearfix"></div></span>
            </td>
          </tr>
        </table>
      </td>
    </tr>
    <tr>
      <td>
        <hr class="hr" style="border-top: 1px solid #30cfd2;">
      </td>
    </tr>
    <tr>
      <td>
        <span>CIN L99999MH1997PLC111637</span>
      </td>
    </tr>
    <tr>
      <td>&nbsp;</td>
    </tr>
  </table>
}
</div>



</div>

<div class="col-sm-2">
  <div class="po-action">
    <button mat-raised-button color="accent" (click)="printComponent('table')">
      <mat-icon>print</mat-icon>
      Print
    </button>

    <button mat-raised-button color="primary" (click)="viewWorkflowHistory()">
      <mat-icon>history</mat-icon>
      Workflow History
    </button>
    <button mat-raised-button color="warn" class="red-btn"
      [routerLink]="['/searchPurchaseOrder/searchVendorComparison', purchaseOrder.entityId,'list']">
      <mat-icon>compare_arrows</mat-icon>
      Vendor Comparison
    </button>


    @if (purchaseOrder.approvalStatus=='PENDING') {
      <button mat-raised-button color="warn" class="blue-btn"
        [routerLink]="['/searchPurchaseOrder/UpdatePO', purchaseOrder.entityId,'edit']"
        >
        <mat-icon>edit</mat-icon>
        Edit
      </button>
    }

    <!-- <button mat-raised-button color="warn" class="grey-btn" (click)="sendMail()"
    *ngIf="purchaseOrder.verify!=null && purchaseOrder.approvalStatus=='APPROVED' && purchaseOrder.mailSentDate==null">
    <mat-icon>send</mat-icon>
    Send Mail
  </button>

  <button mat-raised-button color="warn" class="green-btn" (click)="verifyPo()"
    *ngIf="purchaseOrder.verify==null && purchaseOrder.approvalStatus=='APPROVED'">
    <mat-icon>verified_user</mat-icon>
    Verify
  </button>
  <button mat-raised-button color="warn" class="green-btn"
    *ngIf="purchaseOrder.verify!=null && purchaseOrder.approvalStatus=='APPROVED'" [disabled]="true">
    <mat-icon>verified_user</mat-icon>
    Verified
  </button> -->
  @if (taskId!=null) {
    <button mat-raised-button color="primary" class="green-btn" (click)="takeAction()">
      <mat-icon>verified_user</mat-icon>
      Approve/Reject
    </button>
  }

  <button mat-raised-button color="warn" (click)="back()">
    <mat-icon>arrow_back_ios</mat-icon>
    Back
  </button>
</div>

@if (purchaseOrder.attachments) {
  <div class="container po-action">
    <h3 class="view-download">Attachments</h3>
    @for (attach of purchaseOrder.attachments; track attach) {
      <div class="grouped view-attachments">
        <!-- <a href="{{baseUrl}}{{attach}}" *ngIf="lessThan(attach.substring(attach.lastIndexOf('/')+1,attach.length))"
      target="_blank">{{attach.substring(attach.lastIndexOf('/')+1,attach.length)}}</a>
      <a href="{{baseUrl}}{{attach}}" *ngIf="greaterThan(attach.substring(attach.lastIndexOf('/')+1,attach.length))"
      target="_blank">{{attach.substring(attach.lastIndexOf('/')+38,attach.length)}}</a> -->
      @if (containsUUID(attach.substring(attach.lastIndexOf('/')+1,attach.length))) {
        <a href="{{baseUrl}}{{attach}}"
        target="_blank">{{attach.substring(attach.lastIndexOf('/')+38,attach.length)}}</a>
      }
      @if (!containsUUID(attach.substring(attach.lastIndexOf('/')+1,attach.length))) {
        <a href="{{baseUrl}}{{attach}}"
        target="_blank">{{attach.substring(attach.lastIndexOf('/')+1,attach.length)}}</a>
      }
    </div>
  }
  @if (purchaseOrder.attachments.length == 0) {
    <div>
      <p class="text-blue">No Attachments</p>
    </div>
  }
  <div class="clearfix"></div>
</div>
}
@if (purchaseOrder.uploadedTermsAnnexure != null) {
  <div class="container po-action">
    <h3 class="view-download">Download Annexure</h3>
    <div class="grouped view-attachments">
      @if (containsUUID(purchaseOrder.uploadedTermsAnnexure.substring(purchaseOrder.uploadedTermsAnnexure.lastIndexOf('/')+1,purchaseOrder.uploadedTermsAnnexure.length))) {
        <a href="{{baseUrl}}{{purchaseOrder.uploadedTermsAnnexure}}"
        target="_blank">{{purchaseOrder.uploadedTermsAnnexure.substring(purchaseOrder.uploadedTermsAnnexure.lastIndexOf('/')+38,purchaseOrder.uploadedTermsAnnexure.length)}}</a>
      }
      @if (!containsUUID(purchaseOrder.uploadedTermsAnnexure.substring(purchaseOrder.uploadedTermsAnnexure.lastIndexOf('/')+1,purchaseOrder.uploadedTermsAnnexure.length))) {
        <a href="{{baseUrl}}{{purchaseOrder.uploadedTermsAnnexure}}"
        target="_blank">{{purchaseOrder.uploadedTermsAnnexure.substring(purchaseOrder.uploadedTermsAnnexure.lastIndexOf('/')+1,purchaseOrder.uploadedTermsAnnexure.length)}}</a>
      }
    </div>
    <div class="clearfix"></div>
  </div>
}
@if (purchaseOrder.signedCopyPath != null) {
  <div class="container po-action">
    <h3 class="view-download">Download Signed Copy</h3>
    <div class="grouped view-attachments">
      @if (containsUUID(purchaseOrder.signedCopyPath.substring(purchaseOrder.signedCopyPath.lastIndexOf('/')+1,purchaseOrder.signedCopyPath.length))) {
        <a href="{{baseUrl}}{{purchaseOrder.signedCopyPath}}"
        target="_blank">{{purchaseOrder.signedCopyPath.substring(purchaseOrder.signedCopyPath.lastIndexOf('/')+38,purchaseOrder.signedCopyPath.length)}}</a>
      }
      @if (!containsUUID(purchaseOrder.signedCopyPath.substring(purchaseOrder.signedCopyPath.lastIndexOf('/')+1,purchaseOrder.signedCopyPath.length))) {
        <a href="{{baseUrl}}{{purchaseOrder.signedCopyPath}}"
        target="_blank">{{purchaseOrder.signedCopyPath.substring(purchaseOrder.signedCopyPath.lastIndexOf('/')+1,purchaseOrder.signedCopyPath.length)}}</a>
      }
    </div>
    <div class="clearfix"></div>
  </div>
}
</div>
</div>

</form>