<app-loader *ngIf="showLoading"></app-loader>
<form [formGroup]="forgotpasswordForm" class="login-container" (ngSubmit)="forgotpassword()">
    <!-- Main Wrapper -->
    <div class="main-wrapper">
        <div class="account-content">

            <div class="container">

                <!-- Logo -->
                <div class="account-logo">
                    <a href="Dashboard"><img src="assets/Images/logo.png" alt="HR Managemet"></a>
                </div>
                <!-- /Logo -->

                <div class="account-box">
                    <div class="account-wrapper">
                       
                        <p class="account-subtitle">Forgot Password</p>


                        <div *ngIf="errorHandle" class="help-block">{{errorMessage}}</div>
                        <div class="form-group">
                            <label>User Name</label>
                            <div [ngClass]="{ 'has-error': isSubmitted && formControls.username.errors }">
                                <input type="text" class="form-control" name="name" placeholder="Please enter username"
                                    [(ngModel)]="forgotPasswordData.username" formControlName="username">
                            </div>

                            <div *ngIf="isSubmitted && formControls.username.errors" class="help-block">
                                <div *ngIf="formControls.username.errors.required">Username is required</div>
                            </div>
                        </div>
                        <div class="form-group text-center">
                            <button mat-flat-button color="accent" type="submit">
                                <mat-icon aria-hidden="false">save</mat-icon>Submit</button>
                            <button mat-flat-button color="primary" (click)="back()">
                                <mat-icon aria-hidden="false">close</mat-icon>
                                Back</button> 
                          </div>
                    </div>
                </div>
                <div style="clear:both"></div>
            </div>
        </div>
    </div>
    <!-- /Main Wrapper -->
</form>