<app-loader *ngIf="showLoading"></app-loader>
<form [formGroup]="addHsnForm">
    <div class="main-wrapper">
        <app-header> </app-header>
        <app-leftmenu></app-leftmenu>
        <div class="page-wrapper">
            <div class="content container-fluid">
                <!-- Page Header -->
                <div class="page-header">
                    <div class="row align-items-center">
                        <div class="col">
                            <h3 class="page-title">{{PageTitle}}</h3>
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <a routerLink="/Dashboard"> Dashboard</a>
                                </li>
                                <li class="breadcrumb-item active">{{PageTitle}}</li>
                            </ul>
                        </div>

                    </div>
                </div>
                <!-- /Page Header -->




                <div class="tab-content">

                    <!-- Add HSN -->
                    <div id="Hsn" class="pro-overview tab-pane fade show active">
                        <div class="card">
                            <div class="card-body">

                                <div class="col-md-12 mandatory">*Fields are Mandatory</div>

                                <div class="row">
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <mat-form-field class="example-full-width" [ngClass]="{ 'has-error': isSubmitted && formControls.hsncode.errors }">
                                                <input matInput name="hsncode" type="text" placeholder="HSN code" [(ngModel)]="HSNData.hsncode" formControlName="hsncode" maxlength="40" required>
                                                <div *ngIf="isSubmitted && formControls.hsncode.errors" class="error-text">
                                                    <div *ngIf="formControls.hsncode.errors.required">HSN code is required
                                                    </div>
                                                </div>
                                            </mat-form-field>
                                        </div>

                                    </div>

                                    <div class="col-sm-3">
                                        <div class="form-group">

                                            <mat-form-field [ngClass]="{ 'has-error': isSubmitted && formControls.country.errors }">
                                                <mat-label>Country</mat-label>
                                                <mat-select [(ngModel)]="HSNData.country" formControlName="country" (selectionChange)="countryChange()" required>
                                                    <mat-option>-Select-</mat-option>
                                                    <mat-option value="India">India
                                                    </mat-option>
                                                    <mat-option value="Singapore">Singapore</mat-option>

                                                </mat-select>
                                                <div *ngIf="isSubmitted && formControls.country.errors" class="error-text">
                                                    <div *ngIf="formControls.country.errors.required">Country is required
                                                    </div>
                                                </div>
                                            </mat-form-field>
                                        </div>
                                    </div>

                                    <div class="col-sm-2">
                                        <div class="form-group">
                                            <mat-form-field class="example-full-width" [ngClass]="{ 'has-error': isSubmitted && formControls.cgst.errors }">
                                                <input matInput name="cgst" type="number" placeholder="CGST %" [(ngModel)]="HSNData.cgst" formControlName="cgst" required>
                                                <div *ngIf="isSubmitted && formControls.cgst.errors" class="error-text">
                                                    <div *ngIf="formControls.cgst.errors.required">CGST is required
                                                    </div>
                                                </div>
                                            </mat-form-field>
                                        </div>

                                    </div>

                                    <div class="col-sm-2">
                                        <div class="form-group">
                                            <mat-form-field class="example-full-width" [ngClass]="{ 'has-error': isSubmitted && formControls.sgst.errors }">
                                                <input matInput name="sgst" type="number" placeholder="SGST %" [(ngModel)]="HSNData.sgst" formControlName="sgst" required>
                                                <div *ngIf="isSubmitted && formControls.sgst.errors" class="error-text">
                                                    <div *ngIf="formControls.sgst.errors.required">SGST is required
                                                    </div>
                                                </div>
                                            </mat-form-field>
                                        </div>

                                    </div>
                                    <div class="col-sm-2" *ngIf="igst">
                                        <div class="form-group">
                                            <mat-form-field class="example-full-width" [ngClass]="{ 'has-error': isSubmitted && formControls.igst.errors }">
                                                <input matInput name="igst" type="number" placeholder="IGST %" [(ngModel)]="HSNData.igst" formControlName="igst" required>
                                                <div *ngIf="isSubmitted && formControls.igst.errors" class="error-text">
                                                    <div *ngIf="formControls.igst.errors.required">IGST is required
                                                    </div>
                                                </div>
                                            </mat-form-field>
                                        </div>

                                    </div>

                                    <div class="col-sm-2" *ngIf="tax">
                                        <div class="form-group">
                                            <mat-form-field class="example-full-width" [ngClass]="{ 'has-error': isSubmitted && formControls.tax.errors }">
                                                <input matInput name="tax" type="text" placeholder="Tax %" [(ngModel)]="HSNData.igst" formControlName="tax" numbersOnly required>
                                                <div *ngIf="isSubmitted && formControls.tax.errors" class="error-text">
                                                    <div *ngIf="formControls.tax.errors.required">Tax is required
                                                    </div>
                                                </div>
                                            </mat-form-field>
                                        </div>

                                    </div>

                                </div>

                                <div class="submit-section">
                                    <button mat-flat-button color="accent" (click)="addHSN('save')" *ngIf="list && hsnAdd">
                                        <mat-icon aria-hidden="false">save</mat-icon> Save
                                    </button>

                                    <button mat-flat-button color="accent" (click)="addHSN('update')" *ngIf="edit">
                                        <mat-icon aria-hidden="false">update</mat-icon> Update
                                    </button>
                                    <!-- <button mat-flat-button color="primary" (click)="search()" *ngIf="list">
                                        <mat-icon aria-hidden="false">search</mat-icon> Search
                                    </button> -->

                                    <button mat-flat-button color="warn" (click)="cancel()">
                                        <mat-icon aria-hidden="false">close</mat-icon> Cancel
                                    </button>

                                </div>

                            </div>

                            <!-- Search Table -->
                            <div class="row align-items-center">
                                <div class="col">
                                    <div class="total-rec">Total Records: {{totalRecords}}</div>
                                </div>
                                <div class="col-auto float-right ml-auto">
                                    <mat-form-field class="search-input">
                                        <input matInput (keyup)="applyFilter($event)" placeholder="Search..." #input>
                                    </mat-form-field>
                                </div>
                            </div>

                            <table mat-table [dataSource]="HSNMasterData" matSort class="mat-elevation-z8">

                                <!-- HSN code Column -->

                                <ng-container matColumnDef="hsncode">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> HSN Code </th>
                                    <td mat-cell *matCellDef="let HSNMasterData" data-label="HSN Code"> {{HSNMasterData.hsncode}} </td>
                                </ng-container>

                                <!-- CGST Column -->
                                <ng-container matColumnDef="cgst">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> CGST % </th>
                                    <td mat-cell *matCellDef="let HSNMasterData" data-label="CGST %"> {{HSNMasterData.cgst}} </td>
                                </ng-container>

                                <!-- SGST Column -->
                                <ng-container matColumnDef="sgst">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> SGST % </th>
                                    <td mat-cell *matCellDef="let HSNMasterData" data-label="SGST %"> {{HSNMasterData.sgst}} </td>
                                </ng-container>

                                <!-- IGST Column -->
                                <ng-container matColumnDef="igst">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> IGST % </th>
                                    <td mat-cell *matCellDef="let HSNMasterData" data-label="IGST %">
                                        {{HSNMasterData.igst}} </td>
                                </ng-container>

                                <!-- Country Column -->
                                <ng-container matColumnDef="country">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Country</th>
                                    <td mat-cell *matCellDef="let HSNMasterData" data-label="Country">
                                        {{HSNMasterData.country}} </td>
                                </ng-container>

                                <!-- Action Column -->
                                <ng-container matColumnDef="action">
                                    <th mat-header-cell *matHeaderCellDef> Action </th>
                                    <td mat-cell *matCellDef="let HSNMasterData">
                                        <button mat-flat-button color="primary" [disabled]="HSNMasterData.isDeleted" (click)="editData(HSNMasterData.entityId)" matTooltip="Edit this record" *ngIf="hsnEdit">
                                            <mat-icon aria-hidden="false">edit</mat-icon>
                                        </button>
                                        <button mat-flat-button color="warn" matTooltip="Activate this record" *ngIf="HSNMasterData.isDeleted && hsnDelete">
                                            <mat-icon aria-hidden="false">check_circle</mat-icon>
                                        </button>
                                        <button mat-flat-button color="warn" class="green-btn" (click)="onDelete(HSNMasterData.entityId)" matTooltip="Deactivate this record" *ngIf="!HSNMasterData.isDeleted && hsnDelete">
                                            <mat-icon aria-hidden="false">block</mat-icon>
                                        </button>

                                        <!-- <button mat-flat-button color="warn" (click)="onDelete(HSNMasterData.entityId)"
                                            matTooltip="Delete this record">
                                            <mat-icon aria-hidden="false">delete</mat-icon>
                                        </button> -->
                                    </td>
                                </ng-container>

                                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                            </table>
                            <mat-paginator [pageSize]="pageSizedisplay" [pageSizeOptions]="itemPerPage" showFirstLastButtons>
                            </mat-paginator>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>