@if (showLoading) {
  <app-loader></app-loader>
}
<div class="main-wrapper">
  <app-header> </app-header>
  <app-leftmenu></app-leftmenu>
  <div class="page-wrapper">
    <div class="content container-fluid">
      <!-- Page Header -->
      <div class="page-header">
        <div class="row align-items-center">
          <div class="col">
            <h3 class="page-title">{{PageTitle}}</h3>
            <ul class="breadcrumb">
              <li class="breadcrumb-item">
                <a routerLink="/Dashboard"> Dashboard</a>
              </li>
              <li class="breadcrumb-item active">{{PageTitle}}</li>
            </ul>
          </div>
        </div>
      </div>
      <!-- /Page Header -->

      <div>
        <app-projecttab highlightedtab="configurationtab" > </app-projecttab>
      </div>

      <form [formGroup]="addProjectForm">
        <div class="tab-content">
          <div class="pro-overview tab-pane fade show active">
            <div class="card">
              <div class="card-body">
                <div class="col-md-12 mandatory">*Fields are Mandatory</div>
                <div class="row">
                  <ng-container>
                    @for (item of levelList; track item; let i = $index) {
                      <div class="col-sm-3">
                        <div class="form-group">
                          <mat-form-field class="example-full-width">
                            <button class="close" (click)="deleteLevel(item)"><span
                            aria-hidden="true">&times;</span></button>
                            <mat-label>{{item.workflowlevel}} </mat-label>
                            <mat-select [compareWith]="compareUser"
                              [typeaheadDebounceInterval]="matSelectDuration"
                              [(ngModel)]="item.userid" placeholder="Users"
                              [ngModelOptions]="{standalone: true}">
                              <mat-option>-Select-</mat-option>
                              @for (type of userList; track type) {
                                <mat-option
                                  [value]="type.selectionid">
                                  {{ type.selectionvalue }}
                                </mat-option>
                              }
                            </mat-select>
                          </mat-form-field>
                        </div>
                      </div>
                    }
                  </ng-container>
                </div>
                @if (newLevelList.length==0) {
                  <div class="submit-section">
                    <button mat-button (click)="addMoreLevel()">Add more level +</button>
                  </div>
                }
                @for (item of newLevelList; track item) {
                  <div class="row">
                    <div class="col-sm-3">
                      <div class="form-group">
                        <mat-form-field class="example-full-width">
                          <mat-select [(ngModel)]="item.workflowlevel"
                            [typeaheadDebounceInterval]="matSelectDuration"
                            placeholder="Select workflow level"
                            [ngModelOptions]="{standalone: true}">
                            <mat-option>-Select-</mat-option>
                            @for (type of AlllevelList; track type) {
                              <mat-option
                                [value]="type.workflowlevel">
                                {{ type.workflowlevel }}
                              </mat-option>
                            }
                          </mat-select>
                        </mat-form-field>
                      </div>
                    </div>
                    <div class="col-sm-3">
                      <div class="form-group">
                        <mat-form-field class="example-full-width">
                          <mat-select [(ngModel)]="item.userid" placeholder="Users"
                            [typeaheadDebounceInterval]="matSelectDuration"
                            [ngModelOptions]="{standalone: true}">
                            <mat-option>-Select-</mat-option>
                            @for (type of userList; track type) {
                              <mat-option
                                [value]="type.selectionid">
                                {{ type.selectionvalue }}
                              </mat-option>
                            }
                          </mat-select>
                        </mat-form-field>
                      </div>
                    </div>
                    <div class="col-sm-3">
                      <div class="form-group">
                        <button mat-flat-button color="warn" mat-button (click)="removeLevel(item)">
                          <mat-icon aria-hidden="false">delete</mat-icon>
                        </button>
                      </div>
                    </div>
                  </div>
                }
                @if (newLevelList.length !=0) {
                  <div class="submit-section">
                    <button mat-button (click)="addMoreLevel()">Add more level
                    +</button>
                  </div>
                }
                <div class="submit-section">
                  @if (!actionFlag) {
                    <button mat-flat-button color="accent" (click)="addLevel('save')"
                      >
                      <mat-icon aria-hidden="false">save</mat-icon> Save
                    </button>
                  }
                  @if (actionFlag) {
                    <button mat-flat-button color="accent" (click)="addLevel('update')"
                      >
                      <mat-icon aria-hidden="false">update</mat-icon> Update
                    </button>
                  }

                  @if (submitToFlag && actionFlag) {
                    <button mat-flat-button color="accent"
                      (click)="sendForApproval()">
                      <mat-icon aria-hidden="false">update</mat-icon> Submit For Approval
                    </button>
                  }
                  <button mat-flat-button color="warn" mat-button (click)="back()">
                    <mat-icon aria-hidden="false">cancel</mat-icon> Back To Search
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>