@if (showLoading) {
  <app-loader></app-loader>
}
<form [formGroup]="addAssetForm">
  <!-- Page Header -->
  <div class="page-header">
    <div class="row align-items-center">
      <div class="col">
        <h3 class="page-title">{{PageTitle}}</h3>
        <ul class="breadcrumb">
          <li class="breadcrumb-item">
            <a routerLink="/Dashboard"> Dashboard</a>
          </li>
          <li class="breadcrumb-item active">{{PageTitle}}</li>
        </ul>
      </div>

    </div>
  </div>
  <!-- /Page Header -->

  <div class="tab-content">

    <!-- Add User -->
    <div class="pro-overview tab-pane fade show active">
      <div class="card">
        <div class="card-body">

          <div class="col-md-12 mandatory">*Fields are Mandatory</div>

          <div class="row">

            @if (!replace) {
              <div class="col-sm-3">
                <div class="form-group">
                  <mat-form-field class="example-full-width">
                    <input matInput name="assetname" type="text" placeholder="Asset Name"
                      [(ngModel)]="AssetData.assetname" formControlName="assetname" maxlength="60"
                      required>
                    </mat-form-field>
                  </div>
                </div>
              }

              @if (!replace) {
                <div class="col-sm-3">
                  <div class="form-group">
                    <mat-form-field class="example-full-width">
                      <input matInput name="serialno" type="text" placeholder="Serial No"
                        [(ngModel)]="AssetData.serialno" formControlName="serialno" maxlength="60"
                        required>
                      </mat-form-field>
                    </div>
                  </div>
                }

                @if (!replace) {
                  <div class="col-sm-3">
                    <div class="form-group">
                      <mat-form-field class="example-full-width">
                        <input matInput name="assettag" type="text" placeholder="Asset Tag"
                          [(ngModel)]="AssetData.assettag" formControlName="assettag" required>
                        </mat-form-field>
                      </div>
                    </div>
                  }


                  @if (replace) {
                    <div class="col-sm-3">
                      <div class="form-group">
                        <mat-form-field class="example-full-width">
                          <input matInput name="assetname1" type="text" placeholder="Asset Name"
                            [(ngModel)]="assetname1" formControlName="assetname1" maxlength="60" required>
                            @if (isSubmitted && formControls.assetname1.errors) {
                              <div class="error-text">
                                @if (formControls.assetname1.errors.required) {
                                  <div>Asset
                                  name is required</div>
                                }
                              </div>
                            }
                          </mat-form-field>
                        </div>
                      </div>
                    }
                    @if (replace) {
                      <div class="col-sm-3">
                        <div class="form-group">
                          <mat-form-field class="example-full-width">
                            <input matInput name="serialno1" type="text" placeholder="Serial No"
                              [(ngModel)]="serialno1" formControlName="serialno1" maxlength="60" required>
                              @if (isSubmitted && formControls.serialno1.errors) {
                                <div class="error-text">
                                  @if (formControls.serialno1.errors.required) {
                                    <div>Serial
                                    no is required</div>
                                  }
                                </div>
                              }
                            </mat-form-field>
                          </div>
                        </div>
                      }

                      @if (replace) {
                        <div class="col-sm-3">
                          <div class="form-group">
                            <mat-form-field class="example-full-width">
                              <input matInput name="assettag1" type="text" placeholder="Asset Tag"
                                [(ngModel)]="assettag1" formControlName="assettag1" required>
                                @if (isSubmitted && formControls.assettag1.errors) {
                                  <div class="error-text">
                                    @if (formControls.assettag1.errors.required) {
                                      <div>Asset Tag
                                      is required</div>
                                    }
                                  </div>
                                }
                              </mat-form-field>
                            </div>
                          </div>
                        }


                        <div class="col-sm-3">
                          <div class="form-group">
                            <mat-form-field class="example-full-width"
                              [ngClass]="{ 'has-error': isSubmitted && formControls.category.errors }">
                              <mat-select [(ngModel)]="category" name="category" placeholder="Category"
                                formControlName="category" [typeaheadDebounceInterval]="matSelectDuration"
                                (ngModelChange)="getActiveSubCategoryfromcategory(category)" required>
                                <mat-option>-Select-</mat-option>
                                @for (category of categoryList; track category) {
                                  <mat-option
                                    [value]="category.selectionvalue">
                                    {{ category.selectionvalue }}
                                  </mat-option>
                                }
                              </mat-select>
                              @if (isSubmitted && formControls.category.errors) {
                                <div class="error-text">
                                  @if (formControls.category.errors.required) {
                                    <div>Category
                                    is required</div>
                                  }
                                </div>
                              }
                            </mat-form-field>
                          </div>
                        </div>
                        <div class="col-sm-3">
                          <div class="form-group">
                            <mat-form-field class="example-full-width"
                              [ngClass]="{ 'has-error': isSubmitted && formControls.subcategory.errors }">
                              <mat-select [(ngModel)]="subcategory" name="subcategory" [typeaheadDebounceInterval]="matSelectDuration"
                                formControlName="subcategory" placeholder="Sub Category"
                                (ngModelChange)="getActiveProduct(subcategory)" required>
                                <mat-option>-Select-</mat-option>
                                @for (category of subcategoryList; track category) {
                                  <mat-option
                                    [value]="category.selectionvalue">
                                    {{ category.selectionvalue }}
                                  </mat-option>
                                }
                              </mat-select>
                              @if (isSubmitted && formControls.subcategory.errors) {
                                <div class="error-text">
                                  @if (formControls.subcategory.errors.required) {
                                    <div>Sub Category
                                    is required</div>
                                  }
                                </div>
                              }
                            </mat-form-field>
                          </div>
                        </div>
                        <div class="col-sm-3">
                          <div class="form-group">
                            <mat-form-field class="example-full-width"
                              [ngClass]="{ 'has-error': isSubmitted && formControls.productid.errors }">
                              <mat-select [compareWith]="compareObjects" [(ngModel)]="AssetData.productid" [typeaheadDebounceInterval]="matSelectDuration"
                                name="productid" placeholder="Product name" formControlName="productid" required>
                                <mat-option>-Select-</mat-option>
                                @for (product of productList; track product) {
                                  <mat-option [value]="product.selectionid">
                                    {{ product.selectionvalue }}
                                  </mat-option>
                                }
                              </mat-select>
                              @if (isSubmitted && formControls.productid.errors) {
                                <div class="error-text">
                                  @if (formControls.productid.errors.required) {
                                    <div>Product Name
                                    is required</div>
                                  }
                                </div>
                              }
                            </mat-form-field>
                          </div>
                        </div>

                        <div class="col-sm-3">
                          <div class="form-group">
                            <mat-form-field class="example-full-width"
                              [ngClass]="{ 'has-error': isSubmitted && formControls.projectname.errors }">
                              <mat-select [compareWith]="compareObjects" [(ngModel)]="AssetData.projectname" [typeaheadDebounceInterval]="matSelectDuration"
                                name="projectname" placeholder="Project name" formControlName="projectname" required>
                                <mat-option>-Select-</mat-option>
                                @for (project of projectList; track project) {
                                  <mat-option [value]="project.selectionid" matTooltip="{{project.selectionvalue}}">
                                    {{ project.selectionvalue }}
                                  </mat-option>
                                }
                              </mat-select>
                              @if (isSubmitted && formControls.projectname.errors) {
                                <div class="error-text">
                                  @if (formControls.projectname.errors.required) {
                                    <div>Project Name
                                    is required</div>
                                  }
                                </div>
                              }
                            </mat-form-field>
                          </div>
                        </div>
                        <div class="col-sm-3">
                          <div class="form-group">
                            <mat-form-field class="example-full-width"
                              [ngClass]="{ 'has-error': isSubmitted && formControls.vendorname.errors }">
                              <mat-select [compareWith]="compareObjects" [(ngModel)]="AssetData.vendorname" [typeaheadDebounceInterval]="matSelectDuration"
                                name="vendorname" placeholder="Vendor name" formControlName="vendorname" required>
                                <mat-option>-Select-</mat-option>
                                @for (vendor of partyList; track vendor) {
                                  <mat-option [value]="vendor.selectionid">
                                    {{ vendor.selectionvalue }}
                                  </mat-option>
                                }
                              </mat-select>
                              @if (isSubmitted && formControls.vendorname.errors) {
                                <div class="error-text">
                                  @if (formControls.vendorname.errors.required) {
                                    <div>Vendor Name
                                    is required</div>
                                  }
                                </div>
                              }
                            </mat-form-field>
                          </div>
                        </div>

                        <div class="col-sm-3">
                          <div class="form-group">
                            <mat-form-field class="example-full-width">
                              <input matInput name="orderno" type="text" placeholder="Order No"
                                [(ngModel)]="AssetData.orderno" formControlName="orderno">
                              </mat-form-field>
                            </div>
                          </div>

                          <div class="col-sm-3">
                            <div class="form-group">
                              <mat-form-field class="example-full-width">
                                <input matInput name="deliverychallanno" type="text"
                                  placeholder="Delivery Challan No" [(ngModel)]="AssetData.deliverychallanno"
                                  formControlName="deliverychallanno">
                                </mat-form-field>
                              </div>
                            </div>


                            <div class="col-sm-3">
                              <div class="form-group">
                                <mat-form-field class="example-full-width">
                                  <input matInput name="purchasedate" placeholder="Purchase Date" type="text"
                                    [matDatepicker]="picker" [(ngModel)]="AssetData.purchasedate"
                                    formControlName="purchasedate" required>
                                    @if (isSubmitted && formControls.purchasedate.errors) {
                                      <div class="error-text">
                                        @if (formControls.purchasedate.errors.required) {
                                          <div>Purchase Date is
                                          required</div>
                                        }
                                      </div>
                                    }
                                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                    <mat-datepicker #picker></mat-datepicker>
                                  </mat-form-field>
                                </div>
                              </div>

                              <div class="col-sm-3">
                                <div class="form-group">
                                  <mat-form-field class="example-full-width">
                                    <input matInput name="warrantytilldate" placeholder="Warranty Till Date" type="text"
                                      [matDatepicker]="picker1" [(ngModel)]="AssetData.warrantytilldate"
                                      formControlName="warrantytilldate" required>
                                      @if (isSubmitted && formControls.warrantytilldate.errors) {
                                        <div class="error-text">
                                          @if (formControls.warrantytilldate.errors.required) {
                                            <div>Warranty Till Date is
                                            required</div>
                                          }
                                        </div>
                                      }
                                      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                      <mat-datepicker #picker1></mat-datepicker>
                                    </mat-form-field>
                                  </div>
                                </div>

                                <div class="col-sm-3">
                                  <div class="form-group">
                                    <mat-form-field class="example-full-width"
                                      [ngClass]="{ 'has-error': isSubmitted && formControls.eol.errors }">
                                      <mat-select [(ngModel)]="AssetData.eol" name="eol" placeholder="End Of Life (EOL)" [typeaheadDebounceInterval]="matSelectDuration"  required
                                        formControlName="eol">
                                        <mat-option>-Select-</mat-option>
                                        @for (eol of eolList; track eol) {
                                          <mat-option [value]="eol.selectionvalue">
                                            {{ eol.selectionvalue }}
                                          </mat-option>
                                        }
                                      </mat-select>
                                      @if (isSubmitted && formControls.eol.errors) {
                                        <div class="error-text">
                                          @if (formControls.eol.errors.required) {
                                            <div>End Of Life (EOL)
                                            is required</div>
                                          }
                                        </div>
                                      }
                                    </mat-form-field>
                                  </div>
                                </div>

                                <div class="col-sm-3">
                                  <div class="form-group">
                                    <mat-form-field class="example-full-width"
                                      [ngClass]="{ 'has-error': isSubmitted && formControls.depreciation.errors }">
                                      <mat-select [(ngModel)]="AssetData.depreciation" name="depreciation" [typeaheadDebounceInterval]="matSelectDuration"
                                        formControlName="depreciation" placeholder="Depreciation" required>
                                        <mat-option >-select-</mat-option>
                                        @for (depreciation of depreciationList; track depreciation) {
                                          <mat-option
                                            [value]="depreciation.selectionvalue">
                                            {{ depreciation.selectionvalue }}
                                          </mat-option>
                                        }
                                      </mat-select>
                                      @if (isSubmitted && formControls.depreciation.errors) {
                                        <div class="error-text">
                                          @if (formControls.depreciation.errors.required) {
                                            <div>Depreciation
                                            is required</div>
                                          }
                                        </div>
                                      }
                                    </mat-form-field>
                                  </div>
                                </div>

                                <div class="col-sm-3">
                                  <div class="form-group">
                                    <mat-form-field class="example-full-width"
                                      [ngClass]="{ 'has-error': isSubmitted && formControls.assetstatus.errors }">
                                      <mat-select [(ngModel)]="AssetData.assetstatus" name="assetstatus" [typeaheadDebounceInterval]="matSelectDuration"
                                        formControlName="assetstatus" placeholder="Asset Status" required>
                                        <mat-option >-Select-</mat-option>
                                        @for (status of statusList; track status) {
                                          <mat-option [value]="status.name">
                                            {{ status.name }}
                                          </mat-option>
                                        }
                                      </mat-select>
                                      @if (isSubmitted && formControls.assetstatus.errors) {
                                        <div class="error-text">
                                          @if (formControls.assetstatus.errors.required) {
                                            <div>Asset Status
                                            is required</div>
                                          }
                                        </div>
                                      }
                                    </mat-form-field>
                                  </div>
                                </div>

                                <div class="col-sm-3">
                                  <div class="form-group">
                                    <mat-form-field [ngClass]="{ 'has-error': isSubmitted && formControls.state.errors }">
                                      <mat-label>State</mat-label>
                                      <mat-select [(ngModel)]="state" formControlName="state" [typeaheadDebounceInterval]="matSelectDuration"
                                        (ngModelChange)="getActiveDistrictFromstate(state)" required>
                                        <mat-option>-Select-</mat-option>
                                        @for (stateData of stateList; track stateData) {
                                          <mat-option
                                            value="{{stateData.selectionid}}">
                                          {{stateData.selectionvalue}}</mat-option>
                                        }
                                      </mat-select>
                                      @if (isSubmitted && formControls.state .errors) {
                                        <div class="error-text">
                                          @if (formControls.state.errors.required) {
                                            <div>State is required
                                            </div>
                                          }
                                        </div>
                                      }
                                    </mat-form-field>
                                  </div>
                                </div>

                                <div class="col-sm-3">
                                  <div class="form-group">
                                    <mat-form-field
                                      [ngClass]="{ 'has-error': isSubmitted && formControls.district .errors }">
                                      <mat-label>District</mat-label>
                                      <mat-select [(ngModel)]="district" formControlName="district" [typeaheadDebounceInterval]="matSelectDuration"
                                        (ngModelChange)="getActiveCityFromDistrict(district)" required>
                                        <mat-option>-Select-</mat-option>
                                        @for (districtData of districtList; track districtData) {
                                          <mat-option
                                            value="{{districtData.selectionid}}">
                                          {{districtData.selectionvalue}}</mat-option>
                                        }
                                      </mat-select>
                                      @if (isSubmitted && formControls.district.errors) {
                                        <div class="error-text">
                                          @if (formControls.district .errors.required) {
                                            <div>District is
                                            required</div>
                                          }
                                        </div>
                                      }
                                    </mat-form-field>
                                  </div>
                                </div>

                                <div class="col-sm-3">
                                  <div class="form-group">
                                    <mat-form-field class="example-full-width"
                                      [ngClass]="{ 'has-error': isSubmitted && formControls.city.errors }">
                                      <mat-select [(ngModel)]="city" name="city" formControlName="city" placeholder="City" [typeaheadDebounceInterval]="matSelectDuration"
                                        (ngModelChange)="getActivePoliceStationFromCity(city)" required>
                                        <mat-option >-Select-</mat-option>
                                        @for (city of cityList; track city) {
                                          <mat-option [value]="city.selectionvalue">
                                            {{ city.selectionvalue }}
                                          </mat-option>
                                        }
                                      </mat-select>
                                      @if (isSubmitted && formControls.city.errors) {
                                        <div class="error-text">
                                          @if (formControls.city.errors.required) {
                                            <div>City
                                            is required</div>
                                          }
                                        </div>
                                      }
                                    </mat-form-field>
                                  </div>
                                </div>

                                <div class="col-sm-3">
                                  <div class="form-group">
                                    <mat-form-field class="example-full-width"
                                      [ngClass]="{ 'has-error': isSubmitted && formControls.policestation.errors }">
                                      <mat-select [(ngModel)]="policestation" name="policestation" [typeaheadDebounceInterval]="matSelectDuration"
                                        formControlName="policestation" placeholder="Police Station"
                                        (ngModelChange)="getActiveLocationFromPoliceStation(policestation)" required>
                                        <mat-option >-Select-</mat-option>
                                        @for (policestation of policestationList; track policestation) {
                                          <mat-option
                                            [value]="policestation.selectionvalue">
                                            {{ policestation.selectionvalue }}
                                          </mat-option>
                                        }
                                      </mat-select>
                                      @if (isSubmitted && formControls.policestation.errors) {
                                        <div class="error-text">
                                          @if (formControls.policestation.errors.required) {
                                            <div>Police Station
                                            is required</div>
                                          }
                                        </div>
                                      }
                                    </mat-form-field>
                                  </div>
                                </div>

                                <div class="col-sm-3">
                                  <div class="form-group">
                                    <mat-form-field class="example-full-width"
                                      [ngClass]="{ 'has-error': isSubmitted && formControls.location.errors }">
                                      <mat-select [(ngModel)]="AssetData.location" name="location" [typeaheadDebounceInterval]="matSelectDuration"
                                        formControlName="location" placeholder="Location">
                                        <mat-option >-Select-</mat-option>
                                        @for (location of locationList; track location) {
                                          <mat-option
                                            [value]="location.selectionvalue">
                                            {{ location.selectionvalue }}
                                          </mat-option>
                                        }
                                      </mat-select>
                                      @if (isSubmitted && formControls.location.errors) {
                                        <div class="error-text">
                                          @if (formControls.location.errors.required) {
                                            <div>Location
                                            is required</div>
                                          }
                                        </div>
                                      }
                                    </mat-form-field>
                                  </div>
                                </div>
                                <div class="col-sm-3">
                                  <div class="form-group">
                                    <mat-form-field class="example-full-width">
                                      <textarea matInput name="notes" maxlength="200" [(ngModel)]="AssetData.notes"
                                      formControlName="notes" placeholder="Enter Notes"></textarea>
                                    </mat-form-field>
                                  </div>

                                </div>

                              </div>

                              <div class="submit-section">
                                @if (add) {
                                  <button mat-flat-button color="accent" (click)="addAsset('update')">
                                    <mat-icon aria-hidden="false">add</mat-icon> Replace
                                  </button>
                                }

                                @if (edit) {
                                  <button mat-flat-button color="accent" (click)="addAsset('update')">
                                    <mat-icon aria-hidden="false">update</mat-icon> Update
                                  </button>
                                }

                                <button mat-flat-button color="warn" (click)="back()">
                                  <mat-icon aria-hidden="false">cancel</mat-icon> Back
                                </button>

                              </div>

                            </div>


                          </div>
                        </div>
                      </div>

                    </form>