<app-loader *ngIf="showLoading"></app-loader>
<form>
    <div class="main-wrapper">
        <app-header> </app-header>
        <app-leftmenu></app-leftmenu>
        <div class="page-wrapper">
            <div class="content container-fluid">
                <!-- Page Header -->
                <div class="page-header">
                    <div class="row align-items-center">
                        <div class="col">
                            <h3 class="page-title">{{PageTitle}}</h3>
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <a routerLink="/Dashboard"> Dashboard</a>
                                </li>
                                <li class="breadcrumb-item active">{{PageTitle}}</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- /Page Header -->

                <div class="tab-content">

                    <!-- Add Family -->
                    <div class="pro-overview tab-pane fade show active">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">

                                    <div class="col-md-3">

                                        <div class="scroll-content boxshadow">
                                            <div class="row align-items-center">
                                                <!-- <div class="col-md-6">
                                                    <div class="total-rec">Total Records:
                                                        {{ProjectData.filteredData.length}}</div>
                                                </div> -->
                                                <div class="col-md-12">
                                                    <mat-form-field class="search-input">
                                                        <input matInput (keyup)="applyFilterProject($event)"
                                                            placeholder="Search..." #input>
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                            <div class="city-scroll">
                                                <table mat-table [dataSource]="ProjectData" matSort
                                                    class="mat-elevation-z8">

                                                    <ng-container matColumnDef="selectionvalue">
                                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Project
                                                        </th>
                                                        <td mat-cell *matCellDef="let ProjectData">
                                                            <a (click)="getInvoiceByProject(ProjectData.selectionid)">
                                                                {{ProjectData.selectionvalue}}
                                                            </a>
                                                        </td>
                                                    </ng-container>

                                                    <tr mat-header-row *matHeaderRowDef="displayedColumns1"></tr>
                                                    <tr mat-row *matRowDef="let row; columns: displayedColumns1;"></tr>

                                                </table>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-9">
                                        <!-- <h4>Invoice List</h4> -->

                                        <div [hidden]="!enableInvoice">
                                            <div class="col-auto float-right ml-auto">
                                                <button mat-flat-button color="accent" (click)="addInvoice(null, 'add')"
                                                    *ngIf="invoiceAdd">
                                                    <mat-icon aria-hidden="false">save</mat-icon> Create
                                                    Invoice
                                                </button>
                                            </div>
                                            <div class="row align-items-center">
                                                <div class="col">
                                                    <div class="total-rec">Total Invoice:
                                                        {{totalRecords}}</div>
                                                </div>
                                                <div class="col-auto float-right ml-auto">
                                                    <mat-form-field class="search-input">
                                                        <input matInput (keyup)="applyFilter($event)"
                                                            placeholder="Search..." #input>
                                                    </mat-form-field>
                                                </div>
                                            </div>

                                            <table mat-table [dataSource]="InvoiceRecord" matSort
                                                class="mat-elevation-z8">
                                                <!--  Email Column -->
                                                <ng-container matColumnDef="projectpin">
                                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Project Pin
                                                    </th>
                                                    <td mat-cell *matCellDef="let InvoiceRecord ">
                                                        <div class="block"> {{InvoiceRecord.projectpin}} </div>
                                                    </td>
                                                </ng-container>


                                                <ng-container matColumnDef="customername">
                                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Customer Name
                                                    </th>
                                                    <td mat-cell *matCellDef="let InvoiceRecord ">
                                                        <div class="block"> {{InvoiceRecord.customername}} </div>

                                                    </td>
                                                </ng-container>

                                                <!--  Name Column -->
                                                <ng-container matColumnDef="pono">
                                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>PO No. / MS
                                                        No.
                                                    </th>
                                                    <td mat-cell *matCellDef="let InvoiceRecord ">
                                                        <div class="block"> {{InvoiceRecord.pono}}</div>
                                                        <div class="block"> {{InvoiceRecord.milestoneno}} </div>
                                                    </td>
                                                </ng-container>
                                                <!--  address Column -->
                                                <!-- <ng-container matColumnDef="milestoneno">
                                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Milestone No
                                                </th>
                                                <td mat-cell *matCellDef="let InvoiceRecord ">
                                                    <div class="block"> {{InvoiceRecord.milestoneno}} </div>
                                                </td>
                                            </ng-container> -->
                                                <!--  Email Column -->
                                                <ng-container matColumnDef="invoicestatus">
                                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Status
                                                    </th>
                                                    <td mat-cell *matCellDef="let InvoiceRecord ">
                                                        <div class="block"> {{InvoiceRecord.invoicestatus}} </div>
                                                    </td>
                                                </ng-container>

                                                <!--  Email Column -->
                                                <ng-container matColumnDef="totalamount">
                                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Total Amt
                                                    </th>
                                                    <td mat-cell *matCellDef="let InvoiceRecord ">
                                                        <div class="block"> {{InvoiceRecord.totalamount}} </div>
                                                    </td>
                                                </ng-container>

                                                <!-- Action Column -->
                                                <ng-container matColumnDef="action">
                                                    <th mat-header-cell *matHeaderCellDef> Action </th>
                                                    <td mat-cell *matCellDef="let InvoiceRecord">
                                                        <button mat-flat-button color="accent"
                                                            [matMenuTriggerFor]="menu">
                                                            <mat-icon>mouse</mat-icon> Action
                                                        </button>
                                                        <mat-menu #menu="matMenu" class="actionmenu">
                                                            <a mat-menu-item
                                                            href="{{url}}{{InvoiceRecord.invoiceexcel}}"
                                                            *ngIf="InvoiceRecord.accountexcel == null || InvoiceRecord.invoicesignedexcel == null"
                                                            target="_blank" title="view">
                                                            <mat-icon aria-hidden="false">visibility</mat-icon> View
                                                        </a>
                                                        
                                                        <a mat-menu-item
                                                            href="{{url}}{{InvoiceRecord.invoicesignedexcel}}"
                                                            *ngIf="InvoiceRecord.invoicesignedexcel != null && invoiceView"
                                                            target="_blank" title="view">
                                                            <mat-icon aria-hidden="false">visibility</mat-icon> View
                                                        </a>

                                                        <button mat-menu-item
                                                            matTooltip="Edit this record"
                                                            [disabled]="InvoiceRecord.isdeleted"
                                                            *ngIf="InvoiceRecord.invoicestatus == 'DRAFT' && invoiceEdit"
                                                            (click)="addInvoice(InvoiceRecord.entityid, 'edit')"
                                                            title="Edit">
                                                            <mat-icon aria-hidden="false">edit</mat-icon> Edit
                                                        </button>
                                                        <button mat-menu-item 
                                                            matTooltip="Delete this record"
                                                            [disabled]="InvoiceRecord.isdeleted"
                                                            *ngIf="InvoiceRecord.invoicestatus == 'DRAFT' && invoiceDelete"
                                                            (click)="onDelete(InvoiceRecord.entityid)" title="delete">
                                                            <mat-icon aria-hidden="false">delete</mat-icon> Delete
                                                        </button>
                                                        <button mat-menu-item 
                                                            matTooltip="send this record"
                                                            [disabled]="InvoiceRecord.isdeleted"
                                                            *ngIf="InvoiceRecord.invoicestatus == 'DRAFT'"
                                                            (click)="submitForApproval(InvoiceRecord.entityid)">
                                                            <mat-icon aria-hidden="false">send</mat-icon> Send this record
                                                        </button>
                                                        </mat-menu>

                                                        <!-- <a mat-flat-button color="primary"
                                                            href="{{url}}{{InvoiceRecord.invoiceexcel}}"
                                                            *ngIf="InvoiceRecord.accountexcel == null || InvoiceRecord.invoicesignedexcel == null"
                                                            target="_blank" title="view">
                                                            <mat-icon aria-hidden="false">visibility</mat-icon>

                                                        </a>

                                                        <a mat-flat-button color="primary"
                                                            href="{{url}}{{InvoiceRecord.invoicesignedexcel}}"
                                                            *ngIf="InvoiceRecord.invoicesignedexcel != null && invoiceView"
                                                            target="_blank" title="view">
                                                            <mat-icon aria-hidden="false">visibility</mat-icon>
                                                        </a>

                                                        <button mat-flat-button color="accent"
                                                            matTooltip="Edit this record"
                                                            [disabled]="InvoiceRecord.isdeleted"
                                                            *ngIf="InvoiceRecord.invoicestatus == 'DRAFT' && invoiceEdit"
                                                            (click)="addInvoice(InvoiceRecord.entityid, 'edit')"
                                                            title="Edit">
                                                            <mat-icon aria-hidden="false">edit</mat-icon>
                                                        </button>
                                                        <button mat-flat-button color="warn"
                                                            matTooltip="Delete this record"
                                                            [disabled]="InvoiceRecord.isdeleted"
                                                            *ngIf="InvoiceRecord.invoicestatus == 'DRAFT' && invoiceDelete"
                                                            (click)="onDelete(InvoiceRecord.entityid)" title="delete">
                                                            <mat-icon aria-hidden="false">delete</mat-icon>
                                                        </button>
                                                        <button mat-flat-button color="primary"
                                                            matTooltip="send this record"
                                                            [disabled]="InvoiceRecord.isdeleted"
                                                            *ngIf="InvoiceRecord.invoicestatus == 'DRAFT'"
                                                            (click)="submitForApproval(InvoiceRecord.entityid)">
                                                            <mat-icon aria-hidden="false">send</mat-icon>
                                                        </button> -->

                                                    </td>
                                                </ng-container>

                                                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                                            </table>


                                            <mat-paginator [pageSize]="pageSizedisplay" [pageSizeOptions]="itemPerPage"
                                                showFirstLastButtons>
                                            </mat-paginator>

                                        </div>

                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>